@{
    ViewBag.Title = "Lo que somos";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-about">
        <h4 style="left: 7%; bottom: 12%; text-align: center;font-size: 4em;" class="text-banner visible-lg visible-md">@ViewData["T1_sobre1"]<br/>@ViewData["T1_sobre2"]</h4>
        <h4 style="left: 7%; bottom: 12%; text-align: center;font-size: 3em;" class="text-banner visible-sm visible-xs">@ViewData["T1_sobre1"]<br />@ViewData["T1_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="parrafo-margin text-center">@ViewData["p1_sobre"]</p>  
            
        <p class="parrafo-margin text-center">@ViewData["p2_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 7.png" style="width:100%; min-height: 100px;" class="img-responsive"/>
        <h4 style="left: 37%; bottom: 5%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["mision_titulo_sobre1"]<br/>@ViewData["mision_titulo_sobre2"]</h4>
        <h4 style="left: 40%; bottom: 2%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["mision_titulo_sobre1"]<br />@ViewData["mision_titulo_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin text-center">@ViewData["mision_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 8.png" style="width:100%; min-height: 100px;" class="img-responsive"/>
        <h4 style="left: 39%; bottom: 5%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["vision_titulo_sobre1"]<br/>@ViewData["vision_titulo_sobre2"]</h4>
        <h4 style="left: 40%; bottom: 2%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["vision_titulo_sobre1"]<br />@ViewData["vision_titulo_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin text-center">@ViewData["vision_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 9.png" style="width:100%;min-height: 100px;" class="img-responsive" />
        <h4 style="left: 18%; bottom: 7%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["valoresCentrales_sobre1"]<br/>@ViewData["valoresCentrales_sobre2"]</h4>
        <h4 style="left: 12%; bottom: 3%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["valoresCentrales_sobre1"]<br />@ViewData["valoresCentrales_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["amor_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_amor_titulo"]
        </p>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["auten_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_auten_titulo"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["congru_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_congru_titulo"]
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["grati_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_grati_titulo"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["pasion_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_pasion_titulo"]
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["transpa_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_transpa_titulo"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/Imagen testimonios.png" style="width:100%;min-height: 100px;" class="img-responsive" />
        <h4 style="left: 33%; bottom: 30%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["title_test"]</h4>
        <h4 style="left: 25%; bottom: 20%; text-align: center; font-size: 2.5em;" class="text-banner visible-sm visible-xs">@ViewData["title_test"]</h4>
    </div>
</div>

    <div class="wrapper">
        <div class="slider-testimonial">
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_1"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_1"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_2"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_2"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_3"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_3"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_4"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_4"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_5"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_5"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_6"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_6"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_7"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_7"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_8"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_8"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_9"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_9"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_10"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_10"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_11"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_11"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_12"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_12"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_13"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_13"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_14"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_14"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_15"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_15"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_16"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_16"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_17"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_17"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_18"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_18"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_19"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_19"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_20"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_20"]</p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    
                    <p class="client-name">@ViewData["aut_21"]</p>
                </div>
                <div class="testimonial-text">
                    <p>@ViewData["test_21"]</p>
                </div>
            </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_22"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_22"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_23"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_23"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_24"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_24"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_25"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_25"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_26"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_26"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_27"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_27"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_28"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_28"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_29"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_29"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_30"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_30"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_31"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_31"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_32"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_32"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_33"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_33"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_34"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_34"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_35"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_35"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_36"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_36"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_37"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_37"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_38"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_38"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_39"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_39"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_40"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_40"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_41"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_41"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_42"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_42"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_43"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_43"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_44"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_44"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_45"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_45"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_46"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_46"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_47"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_47"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_48"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_48"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_49"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_49"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                
                <p class="client-name">@ViewData["aut_50"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_50"]</p>
            </div>
        </div>
        <div class="testimonial-item">
            <div class="testimonial-client">
                <p class="client-name">@ViewData["aut_51"]</p>
            </div>
            <div class="testimonial-text">
                <p>@ViewData["test_51"]</p>
            </div>
        </div>
        </div>
    </div>
