@{
    ViewBag.Title = "Lo que somos";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-about">
        <h4 style="left: 7%; bottom: 12%; text-align: center;font-size: 4em;" class="text-banner visible-lg visible-md">@ViewData["T1_sobre1"]<br/>@ViewData["T1_sobre2"]</h4>
        <h4 style="left: 7%; bottom: 12%; text-align: center;font-size: 3em;" class="text-banner visible-sm visible-xs">@ViewData["T1_sobre1"]<br />@ViewData["T1_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="parrafo-margin text-center">@ViewData["p1_sobre"]</p>  
            
        <p class="parrafo-margin text-center">@ViewData["p2_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 7.png" style="width:100%; min-height: 100px;" class="img-responsive"/>
        <h4 style="left: 37%; bottom: 5%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["mision_titulo_sobre1"]<br/>@ViewData["mision_titulo_sobre2"]</h4>
        <h4 style="left: 40%; bottom: 2%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["mision_titulo_sobre1"]<br />@ViewData["mision_titulo_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin text-center">@ViewData["mision_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 8.png" style="width:100%; min-height: 100px;" class="img-responsive"/>
        <h4 style="left: 39%; bottom: 5%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["vision_titulo_sobre1"]<br/>@ViewData["vision_titulo_sobre2"]</h4>
        <h4 style="left: 40%; bottom: 2%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["vision_titulo_sobre1"]<br />@ViewData["vision_titulo_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin text-center">@ViewData["vision_sobre"]</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/imagen 9.png" style="width:100%;min-height: 100px;" class="img-responsive" />
        <h4 style="left: 18%; bottom: 7%; text-align: center; font-size: 4.5em;" class="text-banner visible-lg visible-md">@ViewData["valoresCentrales_sobre1"]<br/>@ViewData["valoresCentrales_sobre2"]</h4>
        <h4 style="left: 12%; bottom: 3%; text-align: center; font-size: 2em;" class="text-banner visible-sm visible-xs">@ViewData["valoresCentrales_sobre1"]<br />@ViewData["valoresCentrales_sobre2"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["amor_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_amor_titulo"]
        </p>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["auten_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_auten_titulo"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["congru_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_congru_titulo"]
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["grati_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_grati_titulo"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["pasion_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_pasion_titulo"]
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="title-margin text-center color-title">@ViewData["transpa_titulo"]</h3>
        <p class="parrafo-margin">
            @ViewData["p_transpa_titulo"]
        </p>
    </div>
</div>