@using System.Security.Policy
@using System.Xml.Schema
@{
    ViewBag.Title = "Coaching for wellness";
}

<div class="row">
    <div class="col-xs-12  widget-container">
        @GUI.Carousel(new string[] {"pasarela 1.png", "pasarela 2.png", "captura.png" }, null)
    </div>
</div>
<!--
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-video">
        <h4 style="left: 7%; bottom: 52%; text-align: center; font-size: 3em;"class="text-banner visible-lg visible-md">@ViewData["cfw"]</h4>
        <h4 style="left: 7%; bottom: 52%; text-align: center; font-size: 1em;" class="text-banner visible-sm visible-xs">@ViewData["cfw"]</h4>
        <h4 style="right: 7%; bottom: 0%; text-align: center; font-size: 3em;" class="text-banner visible-lg visible-md">@ViewData["susan"]</h4>
        <h4 style="right: 7%; bottom: 0%; text-align: center; font-size: 1em;" class="text-banner visible-sm visible-xs">@ViewData["susan"]</h4>
        <a id="videopoup">
            <img class="play-btn" src="~/Content/Images/icono play.png"/>
        </a>
    </div>
</div>-->
<div class="row" style="margin-top: 10px;" onclick="redirect(1)">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-pagos text-center">
        <h4 style="left: 35%; bottom: 0%; text-align: center; font-size: 3em;" class="text-banner visible-lg visible-md">@ViewData["pagosOnline_index"]</h4>
        <h4 style="left: 35%; bottom: 0%; text-align: center; font-size: 1em;" class="text-banner visible-sm visible-xs">@ViewData["pagosOnline_index"]</h4>
        <img class="pay-btn" src="~/Content/Images/imagenesNuevas/icono pago.png"/>
    </div>
</div>
<div class="row" style="margin-top: 10px;" onclick="redirect(2)">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-moodle">
        <h4 style="left: 7%; bottom: 10%; text-align: justify; font-size: 2em;" class="text-banner visible-lg visible-md">@ViewData["bannerMoodle_index1"]<br />@ViewData["bannerMoodle_index2"]</h4>
        <h4 style="left: 7%; bottom: 0%; text-align: justify; font-size: 1em;" class="text-banner visible-sm visible-xs">@ViewData["bannerMoodle_index1"]<br />@ViewData["bannerMoodle_index2"]</h4>
        <img class="moodle-img " src="~/Content/Images/icono moodle.png"/>
    </div>
</div>
<!--
<div class="row" style="margin-top: 10px;" onclick="redirect(3)">
    <div class="col-lg-12 col-md-12 col-xs-12 img-banner-mandala">
        <h4 style="left: 7%; bottom: 10%; text-align: justify; font-size: 2em;" class="text-banner visible-lg visible-md">@ViewData["mandalas1"]<br/>@ViewData["mandalas2"]</h4>
        <h4 style="left: 7%; bottom: 0%; text-align: justify; font-size: 1em;" class="text-banner visible-sm visible-xs">@ViewData["mandalas1"]<br />@ViewData["mandalas2"]</h4>
    </div>
</div>-->