
@{
    ViewBag.Title = "PagosCCC";
}
<div class="container">
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-12">
            <h3>@ViewData["texto-0"]</h3>
            <img src="~/Content/Images/2cc.png" align="right" alt="2Checkout">
            <p>
                @ViewData["texto-1"]<br />
                <br />
                @ViewData["texto-2"] <br />
                <br />
                @ViewData["texto-3"] <br />
                <br />
                @ViewData["texto-4"]<br />
                @ViewData["texto-5"]
            </p>
        </div>

        <div class="col-md-12 well">
        
            <form action='https://www.2checkout.com/checkout/purchase' method='post'>
                <table class="table-responsive table-striped">
                    <tr>
                        <td colspan="2">
                            <strong>@ViewData["texto-6"]</strong>
                        </td>
                    </tr>
                    <tr><td align="right">@ViewData["texto-7"]</td><td><input name='card_holder_name' type='text' size='30' maxlength='128'> </td></tr>
                    <tr><td align="right">@ViewData["texto-8"]</td><td><input name='email' type='text' size='30' maxlength="64"> </td></tr>
                    <tr>
                        <td align="right">@ViewData["texto-9"]</td>
                        <td>
                            <input name='grupo' type='text' size='20'>
                            <span style="font-size:12px">@ViewData["texto-10"]</span>
                        </td>
                    </tr>
                    <tr><td align="right"><label for="tags">@ViewData["texto-11"]</label></td><td><input id="tags" type='text' size='70' maxlength='128' name='li_0_name'  onClick="this.form.li_0_name.value=''"></td></tr>
                    <tr><td align="right">@ViewData["texto-12"]</td><td><input type='text' size='10' name='li_0_price' value='ej: 99.99' onClick="this.form.li_0_price.value=''">$USD</td></tr>
                    <tr><td align="right">@ViewData["texto-13"]</td><td><input type='text' size='4' name='li_0_quantity' value='1'></td></tr>
                    <tr>
                        <td>

                            <input type='hidden' name='sid' value='1993764'>
                            <input type='hidden' name='mode' value='2CO'>
                            <input type='hidden' name='li_0_type' value='product'>
                            <input type='hidden' name='li_0_tangible' value='N'>
                            <input type='hidden' name='currency_code' value='USD'>
                            <input type='hidden' name='lang' value='es_la'>
                        </td>
                        <td>
                            <br /><div align="left"><input class="ui-button" name='submit' type='submit' value='@ViewData["texto-14"]'></div>
                            <br />

                        </td>
                    </tr>
                </table>
            </form>


        </div>

    </div>
</div>
