
@{
    ViewBag.Title = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 texo-personas-img">
        <!--<img src="~/Content/Images/program-cetification.jpg" class="img-responsive" style="width:100%;height:400px" />-->
        <h1 class="visible-lg visible-md" style="font-size:3em">PROGRAMAS <br /> DE CERTIFICACIÓN</h1>
        <h1 class="visible-sm visible-xs">PROGRAMAS <br /> DE CERTIFICACIÓN</h1>
    </div>
</div>

<div class="row" id="lev-1">
    <div id="seminarios" style="display:none;">
        @GUI.MedBtn("SEMINARIOS DEL SER", "", "bgreen nohover", "", "col-xs-12")
        @GUI.BigScrlBtn("INTELIGENCIA CONVERSACIONAL", "#conversacional", "#lev-2", "bgreen-dark", "col-md-3")
        @GUI.BigScrlBtn("PERSONAL BALANCED PLAN", "#personal", "#lev-2", "bgreen-med", "col-md-3")
        @GUI.BigScrlBtn("EQUIPOS ALQUÍMICOS", "#alquimicos", "#lev-2", "bgreen-med", "col-md-3")
        @GUI.BigScrlBtn("INTELIGENCIA EMOCIONAL", "#emocional", "#lev-2", "bgreen", "col-md-3")
        @GUI.BigScrlBtn("INTELIGENCIA ESPIRITUAL", "#espiritual", "#lev-2", "bgreen-light", "col-md-3")
    </div>
        <div class="margen">
            <div class="col-lg-12">
                <h1 class="Tprogramas" id="coaching">COACHING</h1>
                <p>
                    Toda preparación profesional en el desarrollo de las competencias de coaching, su
                    integración y su aplicación, comienza por el área de vida. Este programa enseña todas
                    las destrezas de coaching desde un punto de vista del coaching de vida, aspecto de
                    gran pertinencia en la formación de un coach ejecutivo y corporativo.
                </p>
                <h1 class="Tprogramas">NUESTROS PROGRAMAS CERTIFICADOS</h1>
                <p>
                    Ofrecen dos niveles de certificación que cumplen a cabalidad con los requerimientos
                    de la ICF para cada nivel de credencial.
                </p>
            </div>
        </div>
        <div class="texto-coaching-profesional">
            <img src="~/Content/Images/imagen 11.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>COACHING NIVEL <br />PROFESIONAL</h1>
            
        </div>
        <div style="cursor:pointer" data-target="#lev-2" data-element="#internacional" class="wbutton-xl empresarial texto-emp-vida">
            <center><img src="~/Content/Images/imagen 12.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1 id="l1">COACH<br /> EMPRESARIAL<br /> Y DE VIDA</h1>
            <h4 class="visible-md visible-lg pcc visible-sm">NIVEL<br /> PROFESIONAL<br /> PCC</h4>
        </div>
        <div style="cursor:pointer" class="empresarial texto-asociado">
            <img src="~/Content/Images/imagen 13.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>COACHING<br />NIVEL ASOCIADO</h1>
        </div>
        <div style="cursor:pointer" data-target="#lev-2" data-element="#actp" class="wbutton-xl empresarial texto-coach-vida" >
            <center><img src="~/Content/Images/imagen 14.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1 id="kn">COACH<br />EMPRESARIAL<br />Y DE VIDA</h1>
            <h4 class="visible-md visible-lg pcc visible-sm">NIVEL<br /> PROFESIONAL<br /> ACC</h4>
        </div>
        <!--COACHING DE VIDA Y BIENESTAR-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#vida" class="wbutton-xl empresarial texto-bienestar">
            <center><img src="~/Content/Images/Imagen coaching de vida y bienestar.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1>COACH DE VIDA<br /> Y BIENESTAR</h1>
        </div>
        <!--●	COACHING DE VIDA Y ESPIRITUAL-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#cespiritual" class="wbutton-xl empresarial texto-espiritual">
            <center><img src="~/Content/Images/Imagen coaching vida y espiritual.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1>COACH DE VIDA<br /> Y ESPIRITUAL</h1>
        </div>
        <!--oasis-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#oasis" class="wbutton-xl empresarial oasis">
            <img src="~/Content/Images/Imagen tecnicas de respiracion.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>TÉCNICA <br />DE RESPIRACIÓN<br /> OASIS</h1>
        </div>
</div>
<br />

<div id="lev-2">
    <div class="row" id="conversacional" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA CONVERSACIONAL", "", "byellow nohover", "col-xs-12", "imagen 6.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario integra los elementos del coaching de VIDA bajo la perspectiva de las conversaciones transformadoras, brindando al participante las
            herramientas fundamentales para empezar a integrar la filosofía y práctica del coaching puro en diversos ámbitos del SER.
        </p>
        <p align="justify">
            El presente seminario contiene las destrezas y principios del coaching, lo que lo convierte en la base de los procesos de certificación que brindan nuestra
            compañía, tras lo cual el participante podría continuar con la profundización de programas Internacionales hasta lograr su título como coach.
        </p>
        <p align="justify">
            Con este seminario, la persona podrá iniciar la senda de aplicación de todas las herramientas y destrezas del coaching en conversaciones cotidianas en
            diversos contextos personales, sociales y organizacionales, incrementando así su liderazgo y efectividad en diversas interacciones humanas.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 18 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    CONTEXTO DE LA INTELIGENCIA CONVERSACIONAL
                </p>
            </li>
            <li>
                <p>
                    PRINCIPIOS DE COACHING EN CONVERSACIONES TRANSFORMADORAS
                </p>
            </li>
            <li>
                <p>
                    DIFERENCIA DEL COACHING CON OTRAS PROFESIONES
                </p>
            </li>
            <li>
                <p>
                    DESTREZAS EN LAS CONVERSACIONES TRANSFORMADORAS
                </p>
            </li>
            <li>
                <p>
                    BLOQUES DE CONSTRUCCIÓN
                </p>
            </li>
            <li>
                <p>
                    TÉCNICAS DE CONVERSACIONES TRANSFORMADORAS INTELIGENTES
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Mantener conversaciones transformacionales en diversos contextos humanos.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching puro que permiten mantener conversaciones superiores.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar competencias de liderazgo en diversos contextos personales y sociales
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Transformar situaciones conversacionales en oportunidades de desarrollo en el SER.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>CONTINUACIÓN EN PROCESOS DE CERTIFICACIÓN</strong>
        </p>
        <p align="justify">
            El participante tiene la opción de continuar con procesos de certificación internacional en coaching, para lo cual el seminario de inteligencia
            conversacional le será homologado, tanto en costo como en contenido.
        </p>
        <p align="justify">
            Luego de terminado el seminario, la persona debe cancelar el valor restante para continuar el proceso e iniciar con un programa de tutorías que le
            permitirán nivelar temas específicos, para poder proseguir con el cronograma de laboratorios, mentorías y teleclases virtuales, además de las prácticas.
        </p>
        <p align="justify">
            El participante se integrará a la Inmersión 2 del programa de su elección con el grupo correspondiente a su promoción y continuará con el proceso de
            certificación normalmente.
        </p>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching y la inteligencia conversacional como un
            vehículo para la transformación de individuos y organizaciones. Se recomienda este programa para profesionales que desean maximizar sus relaciones, conocer
            los principios del coaching puro para potencializar su liderazgo personal, líderes de organizaciones empresariales y sociales, directores de recursos
            humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 18 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="personal" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CONSTRUYE TU PLAN ESTRATÉGICO PERSONAL", "", "bblue nohover", "col-xs-12", "avion.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario es una exploración por la vida de quien lo realiza, permitiendole identificar aquellos elementos que dan sentido a su presente y futuro, por
            medio de la estructuración de un plan estratégico personal (Personal Balanced Plan), el cual es un desarrollo de Coaching For Wellness para apoyar las
            personas en identificar el propósito de vida, el horizonte personal, los comportamientos necesarios para lograr las metas planteadas y la estructuración de
            un esquema de acción alineado y equilibrado.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean dar una dirección en su vida, o identificar su propósito y objetivos superiores que brinden
            felicidad y poder contar con los caminos para perseguir sus sueños efectivamente.
        </p>
        <p align="center">
            <strong>CONSTRUYE TU PROYECTO</strong>
            <strong> </strong>
            <strong>DE VIDA ESTRATÉGICO</strong>
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Además se tiene la opción adicional de contar con paqetes de sesiones de coaching de vida con coaches expertos de CFW que permitan apoyar el proceso de
            desarrollo de la herramienta a un nivel mucho más profundo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    PROPÓSITO DE VIDA
                </p>
            </li>
            <li>
                <p>
                    HORIZONTES ESTRATÉGICOS (METAS)
                </p>
            </li>
            <li>
                <p>
                    COMPORTAMIENTOS (VALORES)
                </p>
            </li>
            <li>
                <p>
                    CONSTRUCCIÓN DE MAPA ESTRATÉGICO PESONAL
                </p>
            </li>
            <li>
                <p>
                    DESARROLLO DE PLAN DE ACCIÓN ALINEADO
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Abordar el propósito de vida como la principal fuente de realización y felicidad.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desplegar un proyecto de vida personal que permita identificar las acciones para el desarrollo de los sueños y aspiraciones superiores de la
                    persona.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo personal por medio de afrontar la responsabilidad de las metas y aspiraciones.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 18 años en adelante) que deseen encaminar su vida hacia un propósito de vida que brinde sentido y perseguir metas
            con pasión y felicidad.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="alquimicos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO EQUIPOS ALQUÍMICOS", "", "bgreen nohover", "col-xs-12", "equipo.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario brinda los cimientos del coaching de equipos en un alto nivel, facilitando herramientas que permiten acompañar colectivos de personas en
            diversos contextos.
        </p>
        <p align="justify">
            La base de la sociedad son las organizaciones de personas que buscan lograr objetivos comunes con diversos propósitos, ello significa que la base del
            desarrollo y respectivo crecimiento de la humanidad se fundamenta en colectivos de personas que trabajan en una unión de talentos y recursos, que les
            permiten el logro de resultados superiores a la mera individualidad, aspecto en el cual se concentra este seminario de coaching de equipos.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean contribuir a la transformación social y empresarial por medio del desarrollo de equipos desde la
            perspectiva del coaching, con fundamento en procesos auto-reflexivos y de generación de consciencia para para la maximización de resultados centrados en el
            potencial humano.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    PRINCIPIOS DE COACHING DE EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    SQUID COACHING 8HERRAMIENTA DE MIGRACIÓN DE GRUPOS A EQUIPOS)
                </p>
            </li>
            <li>
                <p>
                    PUENTE DE EQUIPOS DE ALTO RENDIMIENTO (P.E.A.R.)
                </p>
            </li>
            <li>
                <p>
                    TIPOS DE COACHING DE EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    HERRAMIENTAS PARA INTERVENIR EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    TÁCTICAS DE POTENCIALIZACIÓN DE RESULTADOS
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Conocer los fundamentos de los equipos con potencial alquímico desde la perspectiva del coaching puro.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el coaching de equipos con herramientas que les permitan hacer intervenciones de alta calidad a colectivos en diversos contextos.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo personal en procesos relacionados con equipos, orientados a resultados extraordinarios.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching de equipos como un vehículo para la
            transformación de colectivos de personas. Se recomienda este Programa para profesionales que desean maximizar sus relaciones, conocer los principios del
            coaching de equipos puro para maximizar su liderazgo personal, líderes de organizaciones empresariales y sociales, directores de recursos humanos,
            gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>    <br /><br />
    </div>

    <div class="row" id="emocional" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA EMOCIONAL", "", "bpink nohover", "col-xs-12", "corazon.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario permite al participante hacer una inmersión en su mundo emocional, facilitando la generación de conciencia acerca de sus propias emociones y
            las de los demas, adquiriendo durante el proceso herramientas para su crecimiento personal y laboral.
        </p>
        <p align="justify">
            En la actualidad la gestión de las emociones son de vital importancia para potencilizar y tranformar la relación consigo mismo (Intrapersonales) y con los
            demás (Interpersonales), logrando mejores resultados en los proyectos que se emprenden y mejorando los niveles de estabilidad emocional, resiliencia,
            felicidad y éxito.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean tener un encuentro con sus emociones y lograr un cambio en el manejo de las mismas, en diversos
            contextos familiares, sociales, laborales y personales, siendo una persona mas consciente de sus comportamientos emocionales y por ende mas seguro en su
            manejo.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    QUÉ ES LA INTELIGENCIA EMOCIONAL?
                </p>
            </li>
            <li>
                <p>
                    MANEJO EMOCIONAL DE SÍ MISMO
                </p>
            </li>
            <li>
                <p>
                    RELACIONES CON INTELIGENCIA EMOCIONAL
                </p>
            </li>
            <li>
                <p>
                    MANEJO DE ESTRES
                </p>
            </li>
            <li>
                <p>
                    HERRAMIENTAS PARA POTENCIAR LA INTELIGENCIA EMOCIONAL
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Conocer los procesos relacionados con la inteligencia emocional.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Identificar y aplicar las destrezas de inteligencia emocional.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desarrollar competencias de liderazgo en inteligencia emocional a partir del uso de técnicas específicas.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que deseen explorar, entrenar y potenciar su inteligencia emocional como un vehículo para la
            transformación en la relación consigo mismo y con otros. Se recomienda este Programa para personas que desean maximizar sus relaciones, conocer los
            principios de la inteligencia emocional aplicada a su liderazgo personal, así como a líderes de organizaciones empresariales y sociales, directores de
            recursos humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
        Diseñamos planes de gestión al cambio, que apoye a los líderes a generar transiciones de manera planificada.<br /><br />
    </div>

    <div class="row" id="espiritual" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA ESPIRITUAL", "", "bcuruba nohover", "col-xs-12", "imagen 1.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario aborda el SER desde su perspectiva espiritual, permitiendo al participante explorar diversas facetas de encuentro consigo mismo desde la paz
            interior. Es una exploración por la persona en su espiritualidad (No relacionada con religión), en la conexión con la fuente, que brinda el canal para
            identificar el sentido superior de la vida, la compasión y el propósito superior que moviliza la existencia desde la riqueza inmaterial que todos llevamos
            dentro.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean conectar con su inteligencia espiritual y empezar a explorar en su vida la espiritualidad como un
            medio de plenitud y felicidad.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye un dia y medio de inmersión para un total de 12 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Además se tiene la opción adicional de contar con paquetes de sesiones de coaching espiritual con coaches expertos que permitan apoyar el proceso de
            desarrollo a un nivel mucho más profundo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    CONTEXTO DE LA INTELIGENCIA ESPIRITUAL
                </p>
            </li>
            <li>
                <p>
                    CONECTAR CON LA FUENTE (SENTIDO DE LA EXISTENCIA)
                </p>
            </li>
            <li>
                <p>
                    LA MEDITACIÓN COMO PRINCIPIO ESPIRITUAL
                </p>
            </li>
            <li>
                <p>
                    EL PERDON Y EL NIÑO INTERNO COMO FUENTE DE FELICIDAD
                </p>
            </li>
            <li>
                <p>
                    CONCIENCIA PLENA
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Abordar el significado de espiritualidad personal vinculado con el sentido de vida.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desplegar habitos de inteligencia espiritual que permita a la persona conectar con su SER espiritual
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo espiritual por medio de hábitos que lleven a la plenitud personal, la compasión y la felicidad interna.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que deseen explorar su inteligencia espiritual como un vehículo para la transformación
            interna. Se recomienda este Programa para personas que desean iniciar un camino de espiritualidad en su vida, así como obtener herramientas y hábitos que
            faciliten conectar con un sentido superior, compasivo consigo mismo y el contexto que lo rodea y en la senda de la felicidad verdadera que solo la paz
            interior puede brindar.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de un día y medio para un total de 12 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="internacional" style="display:none;">
        <div class="col-lg-12 banner-pcc">
            <h1>COACH<br /> EMPRESARIAL<br /> Y DE VIDA</h1>
        </div>
        <div class="margen-empresarial">
        <div class="col-lg-12">
            <h4>Adiestramiento:</h4>
            <ul>
                <li>
                    Cuatro inmersiones presenciales de tres días cada una (120 horas)
                </li>
                <li>
                    Diez sesiones individuales y grupales de mentoría (con Coaches
                    certificados - 10 horas)
                </li>
                <li>
                    Siete laboratorios de dos horas de coaching grupal supervisado (14
                    horas)
                </li>
            </ul>
            <h4>Total de horas de adiestramiento:<span style="font-weight:normal">144 horas</span></h4>
            <h4>Horas de práctica:</h4>
            <ul>
                <li>24 horas como Coach</li>
                <li>24 horas como Coachee/Cliente</li>
                <li>24 horas de coaching grupal</li>
            </ul>
            <h4>
                Total de horas de práctica: <span style="font-weight:normal">72 horas</span>
            </h4>
            <h4>
                Se recomienda esta certificación para:
            </h4>
            <ul>
                <li>
                    Profesionales que desean comenzar una carrera como coach
                    empresarial
                </li>
                <li>
                    Líderes
                </li>
                <li>
                    Directores de recursos humanos
                </li>
                <li>
                    Gerentes de ventas
                </li>
                <li>
                    Dueños de pequeños negocios
                </li>
            </ul>
            <p>*El nivel profesional cualifica para la solicitud de la credencial de Professional
            [1] Certified Coach (PCC) que otorga la International Coach Federation (ICF) a los
            coaches certificados que ya tienen acumuladas por lo menos 500 horas de experiencia
            profesional y 125 horas de formación en coaching.</p>
            <p>
                [1] Actualmente, nuestro programa profesional está acreditado por la ICF como
                Accredited Coach Training Program (ACTP).
            </p>
        </div>
        </div>
    </div>

    <div class="row" id="actp" style="display:none;">
        <div class="col-lg-12 banner-acc">
            <h1>COACH<br /> EMPRESARIAL<br /> Y DE VIDA</h1>
        </div>
        <div class="margen-empresarial">
        <p align="justify">
            Esta certificación hace un recorrido por los temas de mayor importancia en la profesión del Coaching, enfocada en elementos equilibrados entre la vida y la
            empresa, lo que permite ampliar las posibilidades de ejercer con éxito en diversos nichos de mercado. Se encuentra acreditada como ACTP, lo que permite
            solicitar la credencial como coach PCC (Profesional Certified Coach)de la ICF.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL Y METAS DEL PROGRAMA:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a coaches auténticos, empoderados, compasivos y eficaces, que no sólo cumplen con las normas de
            ética y conducta definidas por la ICF, sino que viven estas normas en su esencia.
        </p>
        <p align="justify">
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <br />
            <strong>FILOSOFÍA O ACERCAMIENTO DE COACHING</strong>
        </p>
        <p align="justify">
            Nuestro programa ha sido diseñado bajo un enfoque holístico que busca elevar la consciencia de coaches y coachees sobre la conexión entre el cuerpo, la
            mente, las emociones y el espíritu, y su efecto en nuestras vidas. Nuestra metodología se fundamenta en una filosofía ontológica, dirigida a la reflexión e
            introspección para generar nuevos modelos de pensamiento y nuevos comportamientos que estén alineados al logro de las metas trabajadas en coaching. Nuestra
            metodología de coaching además integra una vertiente biológica y utiliza el conocimiento sobre el funcionamiento del cerebro y su relevancia para el
            proceso de coaching.
        </p>
        <p align="justify">
            En resumen, utilizamos un enfoque integral y ontológico para resaltar la importancia de ir más allá del trabajo externo de establecer metas e implementar
            planes de acción, y profundizar en los procesos internos que permitan al coachee conocerse mejor y utilizar esta información para moverse hacia el logro de
            su meta.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p>
            <br />
            Se presenta en metodología Blended (Mixto presencial - On Line), la cual incluye cuatro (4) inmersiones presenciales de 30 horas cada uno (en fines de
            semana completos de tres días) con intervalos de 2.5 meses entre cada encuentro. El total de horas aprobadas por ICF son 136. El total de horas de trabajo
            durante el programa es de 218.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <p align="justify">
            <strong>INMERSIÓN 1:</strong>
        </p>
        <p>
            Coaching de vida, (30 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 2:</strong>
        </p>
        <p>
            Coaching empresarial (ejecutivo), (30 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 3:</strong>
        </p>
        <p>
            Coaching de relaciones e Inteligencia Emocional, (30 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 4:</strong>
        </p>
        <p>
            Marketing para coaching. (30 horas)
        </p>
        <p align="justify">
            <strong>ACTIVIDADES VIRTUALES</strong>
        </p>
        <ul>
            <li>
                <p align="justify">
                    Ocho (8) tele-clases/laboratorios de práctica de 2 horas cada uno para un total de 16 hrs
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Cuatro (4) mentorías grupales para un total de 4 horas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Seis (6) mentorías individuales<strong> </strong>para un total de 6 horas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p>
                    <strong>Prácticas</strong>
                    <strong> por un total de </strong>
                    72 horas
                    <br />
                    <br />
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Pares (24 hrs coach; 24 hrs coachee)
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Grupales (24 hrs)
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Caso con cliente externo (8 hrs)
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Identificar la diferencia entre la agenda interna (motivación) y la agenda externa (acción) del coachee para apoyar la concienciación y el
                    aprendizaje del coachee
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching puro que mueven a los clientes hacia el éxito y el cumplimiento de metas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con equipos, ejecutivos y recursos de ventas para mejorar rendimiento y alcanzar las metas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar como Coach de carrera o de <em>outplacement</em>
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Utilizar herramientas de avalúo 360 y manejar procesos de retroalimentación
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Mercadear efectivamente sus servicios de coaching
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Crear e implementar programas para transformar culturas corporativas en culturas de coaching
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar como Coach de vida, de relaciones, o de familia y padres
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>INSTRUCTORES</strong>
        </p>
        <ul>
            <li>
                <p align="justify">
                    Susan Seidman, MCC
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Annie Torres, MCC
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching como un vehículo para la transformación de
            individuos y organizaciones. Se recomienda este Programa para profesionales que desean una carrera como coach de vida o empresarial, líderes
            organizacionales o sociales, directores de recursos humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <strong>¿CUÁLES SON LOS REQUISITOS DE ADMISIÓN AL PROGRAMA?</strong>
        </p>
        <p align="justify">
            La política de admisión incluye un proceso de entrevista con un coach certificado con los objetivos de: a) explorar el nivel de comprensión del
            participante potencial sobre lo que es coaching y su nivel de interés/compromiso en convertirse en coach; b) explicar los requisitos y compromisos del
            Programa; e c) indagar si existe afinidad entre los valores y expectativas del participante potencial y del Programa.
        </p>
        <p align="justify">
            <strong>POLÍTICAS DE PAGOS DE MATRÍCULA/REGISTRO DEL PROGRAMA</strong>
        </p>
        <ul>
            <li>
                <p align="justify">
                    El costo incluye todos los elementos del programa: inmersiones presenciales, actividades virtuales, mentorías y prácticas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    El participante puede escoger entre varias opciones de pago, a saber: 1) pago de contado, 2) sistema de pronto pago con descuento, ó 3) pago
                    diferido a cuatro plazos, a ser cancelados antes de la fecha de cada inmersión.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Sesiones de mentoría: El Programa include 10 horas de mentoría individuales y grupales en el transcurso de la certificación. Sesiones de mentoría
                    solicitadas fuera de los parámetros de tiempo establecidos tendrán una penalidad de $100 USD por hora.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Examen escrito: Para solicitudes de administración extemporánea del examen escrito aplicará una penalidad de $125 USD.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Reposición de examen oral: Si el participante no aprueba el examen oral en su primer intento, tiene la oportunidad de agendar un segundo examen sin
                    costo adicional. De no aprobar el examen en el segundo intento, el participante debe recibir mentoría adicional, a un costo de $100 USD por hora.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Solicitudes de administración extemporánea del examen oral tendrán una penalidad de $125 USD.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Reposición de tiempo en inmersiones presenciales: Si el participante debe ausentarse de una inmersión presencial (o parte de ella), puede reponer
                    este tiempo con un grupo posterior sin costo adicional. Si el participante decide reponer las horas ausentes en un programa ofrecido fuera de su
                    ciudad o país, los gastos de viaje y estadía son su responsabilidad.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    El participante es responsable de la adquisición de cinco libros acerca del coaching, incluidos como requisitos del Programa.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>POLÍTICAS DE SEPARACIÓN DEL PROGRAMA Y REEMBOLSOS:</strong>
        </p>
        <ul>
            <li>
                <p align="justify">
                    Si el participante escoge removerse voluntariamente del Programa antes de su conclusión, su decisión no lo libera de los compromisos acordados
                    sobre la confidencialidad y los términos de pagos establecidos al momento de registrarse en el Programa.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    No se efectuarán devoluciones de dinero si el participante escoge removerse voluntariamente del Programa.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Si el participante decide completar su proceso de certificación en una fecha futura, los pagos que haya realizado serán acreditados a su nuevo
                    programa.
                </p>
            </li>
        </ul>
        <p align="justify">
            La duración del proceso está estimada en 10 meses.
        </p>
        <p>
            <br />
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
        </div>
    </div>

    <div class="row" id="equipos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CERTIFICACIÓN INTERNACIONAL EN COACHING DE EQUIPOS", "", "byellow nohover", "col-xs-12", "equipo.png")
        <br /><br /><br />
        <p align="justify">
            Esta certificación hace un recorrido por los temas de mayor importancia en la profesión del Coaching de equipos, enfocada en elementos que permitan
            maximizar el potencial de diversos tipos de colectivos de personas en diversos contextos empresariales y sociales, lo que permite al participante contar
            con herramientas de vanguardia con las que se podrá desempeñar como coach de equipos en diversos nichos de mercado.
        </p>
        <p align="justify">
            Creeamos firmemente que los equipos son la base de todos los desarrollos superiores de la humanidad, y es por ello que profundizamos en esta certificación
            los elementos clave para ser un coach de equipos de alto nivel.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a coaches auténticos, empoderados, compasivos y eficaces, que no sólo cumplen con las normas de
            ética y conducta definidas por la ICF, sino que viven estas normas en su esencia.
        </p>
        <p align="justify">
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p>
            <br />
            <strong>FILOSOFÍA O ACERCAMIENTO DE COACHING</strong>
        </p>
        <p align="justify">
            Nuestros programas han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de coaches y coachees sobre la conexión entre el cuerpo, la
            mente, las emociones y el espíritu, y su efecto en la vida. Nuestra metodología se fundamenta en una filosofía ontológica, dirigida a la reflexión e
            introspección para generar nuevos modelos de pensamiento y nuevos comportamientos que estén alineados al logro de las metas trabajadas en coaching.
        </p>
        <p align="justify">
            En resumen, utilizamos un enfoque integral y ontológico para resaltar la importancia de ir más allá del trabajo externo de establecer metas e implementar
            planes de acción, y profundizar en los procesos internos que permitan al coachee conocerse mejor y utilizar esta información para moverse hacia el logro de
            su meta.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología Blended (Mixto: presencial - On Line), la cual incluye tres (3) inmersiones presenciales de 20 horas cada uno (en fines de
            semana completos de dos días) con intervalos de 2.5 meses entre cada encuentro. El total de horas de trabajo durante el proceso de formación son 128.
        </p>
        <p align="justify">
            Este programa tambien se desarrolla 100% On Line con teleclases en vivo semanales.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <p align="justify">
            <strong>INMERSIÓN 1:</strong>
        </p>
        <p>
            El coaching y el coaching de equipos, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 2:</strong>
        </p>
        <p>
            Los equipos como un sistema y herramientas del coaching de equipos, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 3:</strong>
        </p>
        <p>
            Marketing para el coaching de equipos. (20 horas)
        </p>
        <p align="justify">
            <strong>ACTIVIDADES VIRTUALES</strong>
        </p>
        <p>
            Se trabajan 68 horas distribuidas así:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Cinco (5) tele-clases/laboratorios de práctica de 2 horas cada una para un total de 10 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Dos (2) Mentorías grupales de 2 horas cada una para un total de 4 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Seis (6) Mentorias individuales de 1 horas cada una para un total de 6 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Practicas individuales y grupales en un total de 48 horas. Pares: 32 horas, grupales: 16.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Alinear propósitos e intereses (agenda interna - motivación) y objetivos del equipo para la maduración cultural del colectivo hacia metas comunes.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching de equipos que movilicen a los colectivos hacia el éxito y el cumplimiento de metas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar competencias de liderazgo en diversos contextos personales y sociales
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Mercadear efectivamente sus servicios de coaching de equipos
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con equipos para mejorar rendimiento y alcanzar las metas en contextos empresariales y sociales.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Ejercer la profesión de Coaching de equipos en diversos nichos de mercado.
                </p>
            </li>
        </ul>
        <p>
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching como un vehículo para la transformación de
            individuos y organizaciones. Se recomienda este Programa para profesionales que desean una carrera como coach de equipos en procesos con colectivos de
            personas nivel de familia, líderes de organizaciones empresariales y sociales, directores de recursos humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 6 meses.
        </p>
        <p align="justify">
            <br />
            La presente certificación se encuentra alineada al código de ética y las competencias centrales de la Federación Internacional de Caoching (ICF). Y brinda
            los requisitos necesarios para optar para la acreditación ACC (Associate Certified Coach) en la ICF luego de culminado en proceso con CFW.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
    </div>

    <div class="row" id="vida" style="display:none;">
        <div class="col-lg-12 banner-bienestar">
            <h1>COACH DE VIDA<br /> Y BIENESTAR</h1>
        </div>
        <div class="margen-empresarial">
        <p align="justify">
            Esta certificación se concentra en el SER, y sus posibilidades infinitas de prosperidad y bienestar a todos los niveles. Hace un recorrido por todos los
            temas del coaching de vida, desde una perspectiva holística, lo que permite al participante contar con herramientas de vanguardia con las que se podrá
            desempeñar con coach de vida en su entorno en diversos nichos de mercado.
        </p>
        <p align="justify">
            <br />
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a coaches auténticos, empoderados, compasivos y eficaces, que no sólo cumplen con las normas de
            ética y conducta definidas por la ICF, sino que viven estas normas en su esencia.
        </p>
        <p align="justify">
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p>
            <br />
            <strong>FILOSOFÍA O ACERCAMIENTO DE COACHING</strong>
        </p>
        <p align="justify">
            Nuestros programas han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de coaches y coachees sobre la conexión entre el cuerpo, la
            mente, las emociones y el espíritu, y su efecto en la vida. Nuestra metodología se fundamenta en una filosofía ontológica, dirigida a la reflexión e
            introspección para generar nuevos modelos de pensamiento y nuevos comportamientos que estén alineados al logro de las metas trabajadas en coaching.
        </p>
        <p align="justify">
            En resumen, utilizamos un enfoque integral y ontológico para resaltar la importancia de ir más allá del trabajo externo de establecer metas e implementar
            planes de acción, y profundizar en los procesos internos que permitan al coachee conocerse mejor y utilizar esta información para moverse hacia el logro de
            su meta.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología Blended (Mixto: presencial - On Line), la cual incluye tres (3) inmersiones presenciales de 20 horas cada uno (en fines de
            semana completos de dos días) con intervalos de 2.5 meses entre cada encuentro. El total de horas de trabajo durante el proceso de formación son 128.
        </p>
        <p align="justify">
            Este programa tambien se desarrolla 100% On Line con teleclases en vivo semanales.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <p align="justify">
            <strong>INMERSIÓN 1:</strong>
        </p>
        <p>
            Coaching de vida, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 2:</strong>
        </p>
        <p>
            Coaching de Bienestar, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 3:</strong>
        </p>
        <p>
            Coaching de Relaciones. (20 horas)
        </p>
        <p align="justify">
            <strong>ACTIVIDADES VIRTUALES</strong>
        </p>
        <p>
            Se trabajan 68 horas distribuidas así:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Cinco (5) tele-clases/laboratorios de práctica de 2 horas cada una para un total de 10 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Dos (2) Mentorías grupales de 2 horas cada una para un total de 4 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Seis (6) Mentorias individuales de 1 horas cada una para un total de 6 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Practicas individuales y grupales en un total de 48 horas. Pares: 32 horas, grupales: 16.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Identificar la diferencia entre la agenda interna (motivación) y la agenda externa (acción) del coachee para apoyar la concienciación y el
                    aprendizaje del coachee
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching puro que mueven a los clientes hacia el éxito y el cumplimiento de metas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el SER desde su propia grandeza y potencial, bajo la premisa que toda persona es GRANDE.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con personas bajo diversas agendas de VIDA, alcanzar las metas y sueños que se desean lograr.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Ejercer la profesión de Coaching de Vida en diversos nichos de mercado.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching como un vehículo para la transformación de
            individuos y organizaciones. Se recomienda este Programa para profesionales que desean una carrera como coach de vida y líderes sociales. Y aquellas
            personas que desean un cambio profundo en sus propias vidas y sus relaciones a partir de los principios de la abundancia y el bienestar.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 6 meses.
        </p>
        <p>
            <br />
            La certificación está alineada al código de ética y las competencias centrales de la International Coach Federation (ICF). Además, brinda los requisitos necesarios para solicitar la acreditación ACC (Associate Certified Coach) en la ICF, luego de culminado el proceso con CFW y luego de haber completado el total de horas de experiencia requeridas por la ICF.

        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
      </div>
    </div>

    <div class="row" id="cespiritual" style="display:none;">
        <div class="col-lg-12 banner-espirirtual">
            <h1>COACH DE VIDA<br /> Y ESPIRITUAL</h1>
        </div>
       <div class="margen-empresarial">
        <p align="justify">
            Esta certificación se concentra en el SER ESPIRITUAL, y sus posibilidades infinitas de felicidad y conexión que llevan a la paz interior y la plenitud de
            la vida. Hace un recorrido por los temas del coaching de vida, desde una perspectiva holística, ademas de explirar a profundidad la espiritualidad humana
            en la linea del liderazgo espiritual como fuente de inspiración, motivación y conexión con diversos contextos familiares, sociales y laborales. Todo ello
            permite al participante contar con herramientas de vanguardia con las que se podrá desempeñar con coach espiritual en su entorno en diversos nichos de
            mercado.
        </p>
        <p align="justify">
            La humanidad está retornando a la Fuente, lo que impulsa los propósitos superiores de las personas. Este programa es un camino de descubrimiento interno,
            un proceso de interiorización soportado en herramientas de endo-coaching.
        </p>
        <p align="justify">
            <br />
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a coaches auténticos, empoderados, compasivos y eficaces, que no sólo cumplen con las normas de
            ética y conducta definidas por la ICF, sino que viven estas normas en su esencia.
        </p>
        <p align="justify">
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p>
            <br />
            <strong>FILOSOFÍA O ACERCAMIENTO DE COACHING</strong>
        </p>
        <p align="justify">
            Nuestros programas han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de coaches y coachees sobre la conexión entre el cuerpo, la
            mente, las emociones y el espíritu, y su efecto en la vida. Nuestra metodología se fundamenta en una filosofía ontológica, dirigida a la reflexión e
            introspección para generar nuevos modelos de pensamiento y nuevos comportamientos que estén alineados al logro de las metas trabajadas en coaching.
        </p>
        <p align="justify">
            En resumen, utilizamos un enfoque integral y ontológico para resaltar la importancia de ir más allá del trabajo externo de establecer metas e implementar
            planes de acción, y profundizar en los procesos internos que permitan al coachee conocerse mejor y utilizar esta información para moverse hacia el logro de
            su meta.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología Blended (Mixto: presencial - On Line), la cual incluye tres (3) inmersiones presenciales de 20 horas cada uno (en fines de
            semana completos de dos días) con intervalos de 2.5 meses entre cada encuentro. El total de horas de trabajo durante el proceso de formación son 128.
        </p>
        <p align="justify">
            Este programa tambien se desarrolla 100% On Line con teleclases en vivo semanales.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <p align="justify">
            <strong>INMERSIÓN 1:</strong>
        </p>
        <p>
            Coaching de vida, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 2:</strong>
        </p>
        <p>
            Coaching Espiritual, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 3:</strong>
        </p>
        <p>
            El coaching espiritual en la práctica. (20 horas)
        </p>
        <p align="justify">
            <strong>ACTIVIDADES VIRTUALES</strong>
        </p>
        <p>
            Se trabajan 68 horas distribuidas así:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Cinco (5) tele-clases/laboratorios de práctica de 2 horas cada una para un total de 10 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Dos (2) Mentorías grupales de 2 horas cada una para un total de 4 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Seis (6) Mentorias individuales de 1 horas cada una para un total de 6 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Practicas individuales y grupales en un total de 48 horas. Pares: 32 horas, grupales: 16.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Identificar los elementos vinculados a diversas agendas de carácter espititual en los coachees, y la diferencia entre la agenda interna
                    (motivación) y la agenda externa (acción) para apoyar la concienciación y el aprendizaje spiritual.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching espiritual que movilian a los clientes hacia el éxito y el cumplimiento de metas espirituales
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el SER desde su propia grandeza y potencial, bajo la premisa que toda persona es GRANDE.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con personas bajo diversas agendas espirituales, alcanzar las metas y sueños en terminos de conexión interna y externa.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Ejercer la profesión de Coaching espiritual en diversos nichos de mercado.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching como un vehículo para la transformación de
            individuos desde el enfoque espiritual. Se recomienda este Programa para profesionales que desean una carrera como coach de vida y espiritual. Y aquellas
            personas que desean un cambio profundo en sus propias vidas y sus relaciones a partir de los principios de la paz interior.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 6 meses.
        </p>
        <p>
            <br />
            La certificación está alineada al código de ética y las competencias centrales de la International Coach Federation (ICF). Además, brinda los requisitos necesarios para solicitar la acreditación ACC (Associate Certified Coach) en la ICF, luego de culminado el proceso con CFW y luego de haber completado el total de horas de experiencia requeridas por la ICF.

        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
      </div>
    </div>
    <!--oasis------------------------------>
    <div class="row" id="oasis" style="display:none;">
        <div class="col-lg-12 banner-oasis">
            <h1>TÉCNICA <br />DE RESPIRACIÓN<br /> OASIS</h1>
        </div>
        <div class="margen-empresarial">
            <h4 align="center">¿El estrés está causando estragos en su vida personal / profesional?</h4>
            <h4 align="center">¿Busca calma en el caos?</h4>
            <h4 align="center">Encuéntrelo en OASIS.</h4>
            <br />
            <p align="center">Aprenda las estrategias de 60 segundos de OASIS para una vida más feliz y saludable.
                Encuentre equilibrio y disfrute hoy.
            </p>
            <p>Susan Seidman es una adiestradora certificada de Oasis, quien ofrece programas de certificación en persona y en línea, tanto en español como en inglés.</p>
            <p>Las estrategias de Oasis de 60 segundos son un kit para dar un impulso y lograr sanidad en todos los sectores de la vida.</p>
            <ul>
                <li>Cuatro estrategias probadas para cambiar su cerebro y su vida en menos de un minuto.</li>
                <li>Son estrategias diarias sencillas, prácticas y fáciles de aprender.</li>
                <li>Honestamente toman sólo 60 segundos cada una.</li>
                <li>Son una vía rápida para volver a alambrar su cerebro del caos a la calma. </li>
                <li>Son herramientas prácticas de Mindfulness para fortalecer su mente, cuerpo y espíritu.</li>
            </ul>
            <p>Las estrategias de 60 segundos de OASIS le enseñan cómo navegar las pequeñas olas de la vida y los grandes tsunamis para disfrutar de una mayor salud y felicidad en su vida.</p>
            <p>Aprenda a usar la neuroplasticidad de su propio cerebro.Conviértase en el CEO de su propia vida.</p>
            <p>La esencia de OASIS no es eliminar el estrés. Más bien, es ayudarnos a interactuar conscientemente - y con claridad - con lo que está en nuestro plato.</p>
            <p>Todos tenemos estrés. La buena noticia: no necesitamos ser víctimas indefensas. La manera como respondemos al estrés hace toda la diferencia.</p>
            <h4>¿POR QUÉ ESPERAR? ¡Dése un OASIS ahora!</h4>
            <p>Este curso también ofrece a los coaches las siguientes horas de educación continua:</p>
            <ul>
                <li>Competencias básicas - 7.38 horas</li>
                <li>Desarrollo de Recursos - 4.62 horas</li>
            </ul>
            <p>Para obtener información adicional, visite: </p>
            <a href="http://www.milliegrenough.com/oasis-training/oasis-trainers/">http://www.milliegrenough.com/oasis-training/oasis-trainers/</a>
        </div>
    </div>

    <div class="row" id="genos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CERTIFICACIÓN INTERNACIONAL EN INTELIGENCIA EMOCIONAL GENOS", "", "bgreen nohover", "col-xs-12", "piedras 2.png")
        <br /><br /><br />
        <p align="justify">
            Esta certificación se concentra en las emociones, y los comportamientos que influyen en diversos contextos, especialmente en el lugar de trabajo. Genos es
            un inventario emocional de 360° de comportamientos emocionalmente inteligentes.
        </p>
        <p align="justify">
            Hace un recorrido por los temas de la inteligencia emocional en 7 destrezas:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Consciencia emocional de sí mismo
                </p>
            </li>
            <li>
                <p align="justify">
                    Expresión emocional
                </p>
            </li>
            <li>
                <p align="justify">
                    Consciencia de las emociones de los demas
                </p>
            </li>
            <li>
                <p align="justify">
                    Razonamiento emocional
                </p>
            </li>
            <li>
                <p align="justify">
                    Manejo de las emociones propias
                </p>
            </li>
            <li>
                <p align="justify">
                    Manejo de las emociones de los demás
                </p>
            </li>
            <li>
                <p align="justify">
                    Dominio emocional de sí mismo
                </p>
            </li>
        </ul>
        <p align="justify">
            Todo lo anterior permite al participante contar con herramientas de vanguardia con las que podrá maximizar su inteligencia emocional, generando un impacto
            positivo en su vida y sus relaciones.
        </p>
        <p align="justify">
            Somos representantes de Genos Pty. Ltd., en Latinoamérica, la cual es una compañía australiana, proveedora líder de instrumentos y servicios para avaluar y
            enriquecer la inteligencia emocional en el lugar de trabajo.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Este programa tambien se desarrolla <em>100% On Line</em>, con 6 teleclases de 4 horas cada una, para un total de 24 horas directas y 20 sesiones de
            práctica en diversos roles.
        </p>
        <p align="justify">
            La certificación incluye competencias para trabajar el avalúo Genos y ser distribuidor del mismo.
        </p>
        <p align="justify">
            El total de horas de trabajo es de 48.
        </p>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Identificar los comportamientos emocionalmente inteligentes en sí mismo y en otras personas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar destrezas de inteligencia emocional que movilicen a otras personas a mayor bienestar y el cumplimiento de metas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p>
                    Aplicar la inteligencia emocional como una herramienta de gran poder dentro del ejercicio del coaching puro en cualquiera de sus vertientes.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el SER desde su propia grandeza y potencial, bajo la premisa que toda persona es GRANDE.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con personas bajo diversas agendas emocionales.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que deseen explorar y profundizar con la inteligencia emocional. Se recomienda este Programa
            para profesionales que desean aplicar la inteligencia emocional en sí mismos y otros, especialmente en contextos laborales. Y aquellas personas que desean
            un cambio profundo en sus propias vidas y sus relaciones a partir de adoptar comportamientos emocionalmente inteligentes.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 3 meses.
        </p>
        <p>
            <br />
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
    </div>
</div>