
@{
    ViewBag.Title = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 texo-personas-img">
        <!--<img src="~/Content/Images/program-cetification.jpg" class="img-responsive" style="width:100%;height:400px" />-->
        <h1 class="visible-lg visible-md" style="font-size:3em">@ViewData["t1Cer"]<br />@ViewData["t1Cer1"]</h1>
        <h1 class="visible-sm visible-xs">@ViewData["t1Cer"]<br />@ViewData["t1Cer1"]</h1>
    </div>
</div>

<div class="row" id="lev-1">
    <div id="seminarios" style="display:none;">
        @GUI.MedBtn("SEMINARIOS DEL SER", "", "bgreen nohover", "", "col-xs-12")
        @GUI.BigScrlBtn("INTELIGENCIA CONVERSACIONAL", "#conversacional", "#lev-2", "bgreen-dark", "col-md-3")
        @GUI.BigScrlBtn("PERSONAL BALANCED PLAN", "#personal", "#lev-2", "bgreen-med", "col-md-3")
        @GUI.BigScrlBtn("EQUIPOS ALQUÍMICOS", "#alquimicos", "#lev-2", "bgreen-med", "col-md-3")
        @GUI.BigScrlBtn("INTELIGENCIA EMOCIONAL", "#emocional", "#lev-2", "bgreen", "col-md-3")
        @GUI.BigScrlBtn("INTELIGENCIA ESPIRITUAL", "#espiritual", "#lev-2", "bgreen-light", "col-md-3")
    </div>
        <div class="margen">
            <div class="col-lg-12">
                <h1 class="Tprogramas" id="coaching">@ViewData["t2Cer"]</h1>
                <p>
                    @ViewData["t3Cer"]
                </p>
                <h1 class="Tprogramas">@ViewData["t4Cer"]</h1>
                <p>
                    @ViewData["t5Cer"]
                </p>
            </div>
        </div>
        <div class="texto-coaching-profesional">
            <img src="~/Content/Images/imagen 11.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t6Cer"]<br />@ViewData["t6Cer6"]</h1>
            
        </div>
        <div style="cursor:pointer" data-target="#lev-2" data-element="#internacional" class="wbutton-xl empresarial texto-emp-vida">
            <center><img src="~/Content/Images/imagen 12.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1 id="l1">@ViewData["t7Cer"]<br />@ViewData["t7jCer"]</h1>
            <h4 class="visible-md visible-lg pcc">@ViewData["t8Cer"]<br />PCC</h4>
        </div>
        <div style="cursor:pointer" class="empresarial texto-asociado">
            <img src="~/Content/Images/imagen 13.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t9Cer"]<br />@ViewData["t9Cer9"]</h1>
        </div>
        <div style="cursor:pointer" data-target="#lev-2" data-element="#actp" class="wbutton-xl empresarial texto-coach-vida" >
            <center><img src="~/Content/Images/imagen 14.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1 id="kn">@ViewData["t7Cer"]<br />@ViewData["t7jCer"]</h1>
            <h4 class="visible-md visible-lg pcc">@ViewData["t10Cer"]<br />ACC</h4>
        </div>
        <!--COACHING DE VIDA Y BIENESTAR-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#vida" class="wbutton-xl empresarial texto-bienestar">
            <center><img src="~/Content/Images/Imagen coaching de vida y bienestar.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1>@ViewData["t11Cer"]<br /> @ViewData["t11Cer11"]</h1>
        </div>
        <!--●	COACHING DE VIDA Y ESPIRITUAL-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#cespiritual" class="wbutton-xl empresarial texto-espiritual">
            <center><img src="~/Content/Images/Imagen coaching vida y espiritual.png" class="img-responsive" style="width:70%;height:250px" /></center>
            <h1>@ViewData["t12Cer"]<br />@ViewData["t12kCer"]</h1>
        </div>
        <!--oasis-->
        <div style="cursor:pointer" data-target="#lev-2" data-element="#oasis" class="wbutton-xl empresarial oasis">
            <img src="~/Content/Images/Imagen tecnicas de respiracion.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t13Cer"]</h1>
        </div>
</div>
<br />

<div id="lev-2">
    <div class="row" id="conversacional" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA CONVERSACIONAL", "", "byellow nohover", "col-xs-12", "imagen 6.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario integra los elementos del coaching de VIDA bajo la perspectiva de las conversaciones transformadoras, brindando al participante las
            herramientas fundamentales para empezar a integrar la filosofía y práctica del coaching puro en diversos ámbitos del SER.
        </p>
        <p align="justify">
            El presente seminario contiene las destrezas y principios del coaching, lo que lo convierte en la base de los procesos de certificación que brindan nuestra
            compañía, tras lo cual el participante podría continuar con la profundización de programas Internacionales hasta lograr su título como coach.
        </p>
        <p align="justify">
            Con este seminario, la persona podrá iniciar la senda de aplicación de todas las herramientas y destrezas del coaching en conversaciones cotidianas en
            diversos contextos personales, sociales y organizacionales, incrementando así su liderazgo y efectividad en diversas interacciones humanas.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 18 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    CONTEXTO DE LA INTELIGENCIA CONVERSACIONAL
                </p>
            </li>
            <li>
                <p>
                    PRINCIPIOS DE COACHING EN CONVERSACIONES TRANSFORMADORAS
                </p>
            </li>
            <li>
                <p>
                    DIFERENCIA DEL COACHING CON OTRAS PROFESIONES
                </p>
            </li>
            <li>
                <p>
                    DESTREZAS EN LAS CONVERSACIONES TRANSFORMADORAS
                </p>
            </li>
            <li>
                <p>
                    BLOQUES DE CONSTRUCCIÓN
                </p>
            </li>
            <li>
                <p>
                    TÉCNICAS DE CONVERSACIONES TRANSFORMADORAS INTELIGENTES
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Mantener conversaciones transformacionales en diversos contextos humanos.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching puro que permiten mantener conversaciones superiores.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar competencias de liderazgo en diversos contextos personales y sociales
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Transformar situaciones conversacionales en oportunidades de desarrollo en el SER.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>CONTINUACIÓN EN PROCESOS DE CERTIFICACIÓN</strong>
        </p>
        <p align="justify">
            El participante tiene la opción de continuar con procesos de certificación internacional en coaching, para lo cual el seminario de inteligencia
            conversacional le será homologado, tanto en costo como en contenido.
        </p>
        <p align="justify">
            Luego de terminado el seminario, la persona debe cancelar el valor restante para continuar el proceso e iniciar con un programa de tutorías que le
            permitirán nivelar temas específicos, para poder proseguir con el cronograma de laboratorios, mentorías y teleclases virtuales, además de las prácticas.
        </p>
        <p align="justify">
            El participante se integrará a la Inmersión 2 del programa de su elección con el grupo correspondiente a su promoción y continuará con el proceso de
            certificación normalmente.
        </p>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching y la inteligencia conversacional como un
            vehículo para la transformación de individuos y organizaciones. Se recomienda este programa para profesionales que desean maximizar sus relaciones, conocer
            los principios del coaching puro para potencializar su liderazgo personal, líderes de organizaciones empresariales y sociales, directores de recursos
            humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 18 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="personal" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CONSTRUYE TU PLAN ESTRATÉGICO PERSONAL", "", "bblue nohover", "col-xs-12", "avion.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario es una exploración por la vida de quien lo realiza, permitiendole identificar aquellos elementos que dan sentido a su presente y futuro, por
            medio de la estructuración de un plan estratégico personal (Personal Balanced Plan), el cual es un desarrollo de Coaching For Wellness para apoyar las
            personas en identificar el propósito de vida, el horizonte personal, los comportamientos necesarios para lograr las metas planteadas y la estructuración de
            un esquema de acción alineado y equilibrado.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean dar una dirección en su vida, o identificar su propósito y objetivos superiores que brinden
            felicidad y poder contar con los caminos para perseguir sus sueños efectivamente.
        </p>
        <p align="center">
            <strong>CONSTRUYE TU PROYECTO</strong>
            <strong> </strong>
            <strong>DE VIDA ESTRATÉGICO</strong>
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Además se tiene la opción adicional de contar con paqetes de sesiones de coaching de vida con coaches expertos de CFW que permitan apoyar el proceso de
            desarrollo de la herramienta a un nivel mucho más profundo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    PROPÓSITO DE VIDA
                </p>
            </li>
            <li>
                <p>
                    HORIZONTES ESTRATÉGICOS (METAS)
                </p>
            </li>
            <li>
                <p>
                    COMPORTAMIENTOS (VALORES)
                </p>
            </li>
            <li>
                <p>
                    CONSTRUCCIÓN DE MAPA ESTRATÉGICO PESONAL
                </p>
            </li>
            <li>
                <p>
                    DESARROLLO DE PLAN DE ACCIÓN ALINEADO
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Abordar el propósito de vida como la principal fuente de realización y felicidad.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desplegar un proyecto de vida personal que permita identificar las acciones para el desarrollo de los sueños y aspiraciones superiores de la
                    persona.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo personal por medio de afrontar la responsabilidad de las metas y aspiraciones.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 18 años en adelante) que deseen encaminar su vida hacia un propósito de vida que brinde sentido y perseguir metas
            con pasión y felicidad.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="alquimicos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO EQUIPOS ALQUÍMICOS", "", "bgreen nohover", "col-xs-12", "equipo.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario brinda los cimientos del coaching de equipos en un alto nivel, facilitando herramientas que permiten acompañar colectivos de personas en
            diversos contextos.
        </p>
        <p align="justify">
            La base de la sociedad son las organizaciones de personas que buscan lograr objetivos comunes con diversos propósitos, ello significa que la base del
            desarrollo y respectivo crecimiento de la humanidad se fundamenta en colectivos de personas que trabajan en una unión de talentos y recursos, que les
            permiten el logro de resultados superiores a la mera individualidad, aspecto en el cual se concentra este seminario de coaching de equipos.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean contribuir a la transformación social y empresarial por medio del desarrollo de equipos desde la
            perspectiva del coaching, con fundamento en procesos auto-reflexivos y de generación de consciencia para para la maximización de resultados centrados en el
            potencial humano.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    PRINCIPIOS DE COACHING DE EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    SQUID COACHING 8HERRAMIENTA DE MIGRACIÓN DE GRUPOS A EQUIPOS)
                </p>
            </li>
            <li>
                <p>
                    PUENTE DE EQUIPOS DE ALTO RENDIMIENTO (P.E.A.R.)
                </p>
            </li>
            <li>
                <p>
                    TIPOS DE COACHING DE EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    HERRAMIENTAS PARA INTERVENIR EQUIPOS
                </p>
            </li>
            <li>
                <p>
                    TÁCTICAS DE POTENCIALIZACIÓN DE RESULTADOS
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Conocer los fundamentos de los equipos con potencial alquímico desde la perspectiva del coaching puro.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el coaching de equipos con herramientas que les permitan hacer intervenciones de alta calidad a colectivos en diversos contextos.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo personal en procesos relacionados con equipos, orientados a resultados extraordinarios.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching de equipos como un vehículo para la
            transformación de colectivos de personas. Se recomienda este Programa para profesionales que desean maximizar sus relaciones, conocer los principios del
            coaching de equipos puro para maximizar su liderazgo personal, líderes de organizaciones empresariales y sociales, directores de recursos humanos,
            gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>    <br /><br />
    </div>

    <div class="row" id="emocional" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA EMOCIONAL", "", "bpink nohover", "col-xs-12", "corazon.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario permite al participante hacer una inmersión en su mundo emocional, facilitando la generación de conciencia acerca de sus propias emociones y
            las de los demas, adquiriendo durante el proceso herramientas para su crecimiento personal y laboral.
        </p>
        <p align="justify">
            En la actualidad la gestión de las emociones son de vital importancia para potencilizar y tranformar la relación consigo mismo (Intrapersonales) y con los
            demás (Interpersonales), logrando mejores resultados en los proyectos que se emprenden y mejorando los niveles de estabilidad emocional, resiliencia,
            felicidad y éxito.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean tener un encuentro con sus emociones y lograr un cambio en el manejo de las mismas, en diversos
            contextos familiares, sociales, laborales y personales, siendo una persona mas consciente de sus comportamientos emocionales y por ende mas seguro en su
            manejo.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye dos días de inmersión para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    QUÉ ES LA INTELIGENCIA EMOCIONAL?
                </p>
            </li>
            <li>
                <p>
                    MANEJO EMOCIONAL DE SÍ MISMO
                </p>
            </li>
            <li>
                <p>
                    RELACIONES CON INTELIGENCIA EMOCIONAL
                </p>
            </li>
            <li>
                <p>
                    MANEJO DE ESTRES
                </p>
            </li>
            <li>
                <p>
                    HERRAMIENTAS PARA POTENCIAR LA INTELIGENCIA EMOCIONAL
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Conocer los procesos relacionados con la inteligencia emocional.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Identificar y aplicar las destrezas de inteligencia emocional.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desarrollar competencias de liderazgo en inteligencia emocional a partir del uso de técnicas específicas.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que deseen explorar, entrenar y potenciar su inteligencia emocional como un vehículo para la
            transformación en la relación consigo mismo y con otros. Se recomienda este Programa para personas que desean maximizar sus relaciones, conocer los
            principios de la inteligencia emocional aplicada a su liderazgo personal, así como a líderes de organizaciones empresariales y sociales, directores de
            recursos humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de dos días para un total de 16 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
        Diseñamos planes de gestión al cambio, que apoye a los líderes a generar transiciones de manera planificada.<br /><br />
    </div>

    <div class="row" id="espiritual" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("SEMINARIO INTELIGENCIA ESPIRITUAL", "", "bcuruba nohover", "col-xs-12", "imagen 1.png")
        <br /><br /><br />
        <p align="justify">
            Este seminario aborda el SER desde su perspectiva espiritual, permitiendo al participante explorar diversas facetas de encuentro consigo mismo desde la paz
            interior. Es una exploración por la persona en su espiritualidad (No relacionada con religión), en la conexión con la fuente, que brinda el canal para
            identificar el sentido superior de la vida, la compasión y el propósito superior que moviliza la existencia desde la riqueza inmaterial que todos llevamos
            dentro.
        </p>
        <p align="justify">
            Este proceso es ideal para aquellas personas que desean conectar con su inteligencia espiritual y empezar a explorar en su vida la espiritualidad como un
            medio de plenitud y felicidad.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a personas auténticas, empoderadas, compasivas y eficaces, que viven su esencia al máximo
            esplendor.
        </p>
        <p align="justify">
            <br />
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología presencial, la cual incluye un dia y medio de inmersión para un total de 12 horas de trabajo.
        </p>
        <p align="justify">
            Este programa brinda acceso a la plataforma virtual de aprendizaje C4W por un lapso de 2 meses, donde se cuenta con recursos de profundización como videos,
            documentos, foros, entre otros, con el objetivo que la persona continue el trabajo por autogestión y enriquezca el proceso del seminario al máximo.
        </p>
        <p align="justify">
            Además se tiene la opción adicional de contar con paquetes de sesiones de coaching espiritual con coaches expertos que permitan apoyar el proceso de
            desarrollo a un nivel mucho más profundo.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <ul>
            <li>
                <p>
                    CONTEXTO DE LA INTELIGENCIA ESPIRITUAL
                </p>
            </li>
            <li>
                <p>
                    CONECTAR CON LA FUENTE (SENTIDO DE LA EXISTENCIA)
                </p>
            </li>
            <li>
                <p>
                    LA MEDITACIÓN COMO PRINCIPIO ESPIRITUAL
                </p>
            </li>
            <li>
                <p>
                    EL PERDON Y EL NIÑO INTERNO COMO FUENTE DE FELICIDAD
                </p>
            </li>
            <li>
                <p>
                    CONCIENCIA PLENA
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Abordar el significado de espiritualidad personal vinculado con el sentido de vida.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Desplegar habitos de inteligencia espiritual que permita a la persona conectar con su SER espiritual
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar el liderazgo espiritual por medio de hábitos que lleven a la plenitud personal, la compasión y la felicidad interna.
                </p>
            </li>
        </ul>
        <p align="justify">
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS </strong>
            <strong>SEMINARIOS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL </strong>
            <strong>SEMINARIO</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            El seminario se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE </strong>
            <strong>SEMINARIO</strong>
            <strong>?</strong>
        </p>
        <p align="justify">
            El seminario está dirigido a personas (de 21 años en adelante) que deseen explorar su inteligencia espiritual como un vehículo para la transformación
            interna. Se recomienda este Programa para personas que desean iniciar un camino de espiritualidad en su vida, así como obtener herramientas y hábitos que
            faciliten conectar con un sentido superior, compasivo consigo mismo y el contexto que lo rodea y en la senda de la felicidad verdadera que solo la paz
            interior puede brindar.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL SEMINARIO</strong>
        </p>
        <p align="justify">
            La duración del seminario es de un día y medio para un total de 12 horas de trabajo.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p><br /><br />
    </div>

    <div class="row" id="internacional" style="display:none;">
        <div class="col-lg-12 banner-pcc">
            <h1>@ViewData["t7Cer"]<br />@ViewData["t7jCer"]</h1>
        </div>
        <div class="margen-empresarial">
        <div class="col-lg-12">
            <p>@ViewData["t14Cer"]</p>
            <h4>@ViewData["t15Cer"]</h4>
            <p>@ViewData["t16Cer"] </p>
            <h4>@ViewData["t17Cer"]</h4>
            <p>@ViewData["t18Cer"] </p>
            <p>@ViewData["t19Cer"]</p>
            <h4>@ViewData["t20Cer"]</h4>
            <p>@ViewData["t21Cer"]</p>
            <p>@ViewData["t22Cer"]</p>
            <h4>@ViewData["t23Cer"]</h4>
            <p>@ViewData["t24Cer"]</p>
            <h4>@ViewData["t25Cer"]</h4>
            <p>@ViewData["t26Cer"]</p>
            <h4>@ViewData["t27Cer"]</h4>
            <p>@ViewData["t28Cer"]</p>
            <h4>@ViewData["t29Cer"]</h4>
            <p>@ViewData["t30Cer"]</p>
            <h4>@ViewData["t31Cer"]</h4>
            <ul>
                <li>@ViewData["t32Cer"]</li>
                <li>@ViewData["t33Cer"]</li>
                <li>@ViewData["t34Cer"]</li>
            </ul>
            <h4>@ViewData["t35Cer"]</h4>
            <p>@ViewData["t36Cer"]</p>
            <ul>
                <li>@ViewData["t37Cer"]</li>
                <li>@ViewData["t38Cer"]</li>
                <li>@ViewData["t39Cer"]</li>
                <li>@ViewData["t40Cer"]</li>
                <li>@ViewData["t41Cer"]</li>
                <li>@ViewData["t42Cer"]</li>
                <li>@ViewData["t43Cer"]</li>
                <li>@ViewData["t44Cer"]</li>
            </ul>
            <h4>@ViewData["t45Cer"]</h4>
            <ul>
                <li>@ViewData["t46Cer"]</li>
                <li>@ViewData["t47Cer"]</li>
                <li>@ViewData["t48Cer"]</li>
                <li>@ViewData["t49Cer"]</li>
                <li>@ViewData["t50Cer"]</li>
                <li>@ViewData["t51Cer"]</li>
            </ul>
            <h4>@ViewData["t52Cer"]</h4>
            <p>@ViewData["t53Cer"]</p>
            <h4>@ViewData["t54Cer"]</h4>
            <p>@ViewData["t55Cer"]</p>
            <h4>@ViewData["t56Cer"]</h4>
            <p>@ViewData["t57Cer"]</p>
            <h4>@ViewData["t58Cer"]</h4>
            <p>@ViewData["t59Cer"]</p>
            <h4>@ViewData["t60Cer"]</h4>
            <ul>
                <li>@ViewData["t61Cer"]</li>
                <li>@ViewData["t62Cer"]</li>
                <li>@ViewData["t63Cer"]</li>
                <li>@ViewData["t64Cer"]</li>
                <li>@ViewData["t65Cer"]</li>
                <li>@ViewData["t66Cer"]</li>
                <li>@ViewData["t67Cer"]</li>
            </ul>
            <h4>@ViewData["t68Cer"]</h4>
            <ul>
                <li>@ViewData["t69Cer"]</li>
                <li>@ViewData["t70Cer"]</li>
                <li>@ViewData["t71Cer"]</li>
            </ul>
            <h4>@ViewData["t72Cer"]</h4>
            <p>@ViewData["t73Cer"]</p>
            <p>@ViewData["t74Cer"]</p>
        </div>
        </div>
    </div>
    <!--acc-------------------------------->
    <div class="row" id="actp" style="display:none;">
        <div class="col-lg-12 banner-acc">
            <h1>@ViewData["t7Cer"]<br />@ViewData["t7jCer"]</h1>
        </div>
        <div class="margen-empresarial">
        <p align="justify">
            @ViewData["ta1"] 
        </p>
        <p align="justify">
            <strong>@ViewData["ta2"] </strong>
        </p>
        <p align="justify">
            <br />
           @ViewData["ta3"]
        </p>
        <p align="justify">
            @ViewData["ta4"]
        </p>
        <p align="justify">
            <br />
            <strong>@ViewData["ta5"]</strong>
        </p>
        <p align="justify">
            @ViewData["ta6"]
        </p>
        <p align="justify">
            @ViewData["ta7"]
        </p>
        <p align="justify">
            <strong>@ViewData["ta8"]</strong>
        </p>
        <p>
            <br />
           @ViewData["ta9"]
        </p>
        <p align="justify">
            @ViewData["ta10"]
        </p>
            <p align="justify">
                @ViewData["ta11"]
            </p>
        <p align="justify">
            <strong>@ViewData["ta12"]</strong>
        </p>
        <p>
            @ViewData["ta13"]
        </p>
        <p align="justify">
            <strong>@ViewData["ta14"]</strong>
        </p>
        <p>
            @ViewData["ta15"]
        </p>
        <p align="justify">
            <strong>@ViewData["ta16"]</strong>
        </p>
        <p>
            @ViewData["ta17"]
        </p>
        <p align="justify">
            <strong>@ViewData["ta18"]</strong>
        </p>
            <p>
               @ViewData["ta19"]
            </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta20"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta21"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta22"]
                </p>
            </li>
        </ul>
            <ul>
                <li>
                    <p align="justify">
                        @ViewData["ta23"]
                    </p>
                </li>
            </ul>
        <p align="justify">
            <strong> @ViewData["ta24"]</strong>
        </p>
        <p align="justify">
            @ViewData["ta25"]
        </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta26"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta27"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta28"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta29"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta30"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta31"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["ta32"]
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>@ViewData["ta33"]</strong>
        </p>
        <p align="justify">
            @ViewData["ta34"]
        </p>
            <p align="justify">
                <strong>@ViewData["ta35"]</strong>
            </p>
            <p align="justify">
               @ViewData["ta36"]
            </p>
        <p align="justify">
            <strong>@ViewData["ta37"]</strong>
        </p>
        <p align="justify">
             @ViewData["ta38"]
        </p>
          <p align="justify">
                <strong>@ViewData["ta39"]</strong>
         </p>
         <p align="justify">
                @ViewData["ta40"]
         </p>      
        <p align="justify">
             @ViewData["ta41"]
        </p>
         <p align="justify">
             @ViewData["ta42"]
        </p>
        </div>
    </div>

    <div class="row" id="equipos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CERTIFICACIÓN INTERNACIONAL EN COACHING DE EQUIPOS", "", "byellow nohover", "col-xs-12", "equipo.png")
        <br /><br /><br />
        <p align="justify">
            Esta certificación hace un recorrido por los temas de mayor importancia en la profesión del Coaching de equipos, enfocada en elementos que permitan
            maximizar el potencial de diversos tipos de colectivos de personas en diversos contextos empresariales y sociales, lo que permite al participante contar
            con herramientas de vanguardia con las que se podrá desempeñar como coach de equipos en diversos nichos de mercado.
        </p>
        <p align="justify">
            Creeamos firmemente que los equipos son la base de todos los desarrollos superiores de la humanidad, y es por ello que profundizamos en esta certificación
            los elementos clave para ser un coach de equipos de alto nivel.
        </p>
        <p align="justify">
            <strong>VISIÓN GENERAL </strong>
            <strong>DE NUESTROS PROGRAMAS</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            Nuestros programas se concentran en traer un estado de equilibrio y bienestar a la profesión de coaching, tanto para el coach como para el coachee, basados
            en la creencia fundamental de que la transformación global depende de nuestra comprensión del balance, del liderazgo "de todo el cerebro", de la
            inteligencia emocional, y de la unificación de los valores mediante la acción.
        </p>
        <p align="justify">
            Nuestro objetivo es inspirar y capacitar profesionalmente a coaches auténticos, empoderados, compasivos y eficaces, que no sólo cumplen con las normas de
            ética y conducta definidas por la ICF, sino que viven estas normas en su esencia.
        </p>
        <p align="justify">
            Nuestros productos han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de personas sobre la conexión entre el cuerpo, la mente,
            las emociones y el espíritu, y su efecto en la vida.
        </p>
        <p>
            <br />
            <strong>FILOSOFÍA O ACERCAMIENTO DE COACHING</strong>
        </p>
        <p align="justify">
            Nuestros programas han sido diseñados bajo un enfoque holístico que busca elevar la consciencia de coaches y coachees sobre la conexión entre el cuerpo, la
            mente, las emociones y el espíritu, y su efecto en la vida. Nuestra metodología se fundamenta en una filosofía ontológica, dirigida a la reflexión e
            introspección para generar nuevos modelos de pensamiento y nuevos comportamientos que estén alineados al logro de las metas trabajadas en coaching.
        </p>
        <p align="justify">
            En resumen, utilizamos un enfoque integral y ontológico para resaltar la importancia de ir más allá del trabajo externo de establecer metas e implementar
            planes de acción, y profundizar en los procesos internos que permitan al coachee conocerse mejor y utilizar esta información para moverse hacia el logro de
            su meta.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Se presenta en metodología Blended (Mixto: presencial - On Line), la cual incluye tres (3) inmersiones presenciales de 20 horas cada uno (en fines de
            semana completos de dos días) con intervalos de 2.5 meses entre cada encuentro. El total de horas de trabajo durante el proceso de formación son 128.
        </p>
        <p align="justify">
            Este programa tambien se desarrolla 100% On Line con teleclases en vivo semanales.
        </p>
        <p align="justify">
            Los temas de exploración en el proceso son los siguientes:
        </p>
        <p align="justify">
            <strong>INMERSIÓN 1:</strong>
        </p>
        <p>
            El coaching y el coaching de equipos, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 2:</strong>
        </p>
        <p>
            Los equipos como un sistema y herramientas del coaching de equipos, (20 horas)
        </p>
        <p align="justify">
            <strong>INMERSIÓN 3:</strong>
        </p>
        <p>
            Marketing para el coaching de equipos. (20 horas)
        </p>
        <p align="justify">
            <strong>ACTIVIDADES VIRTUALES</strong>
        </p>
        <p>
            Se trabajan 68 horas distribuidas así:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Cinco (5) tele-clases/laboratorios de práctica de 2 horas cada una para un total de 10 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Dos (2) Mentorías grupales de 2 horas cada una para un total de 4 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Seis (6) Mentorias individuales de 1 horas cada una para un total de 6 horas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Practicas individuales y grupales en un total de 48 horas. Pares: 32 horas, grupales: 16.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Alinear propósitos e intereses (agenda interna - motivación) y objetivos del equipo para la maduración cultural del colectivo hacia metas comunes.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar las destrezas de coaching de equipos que movilicen a los colectivos hacia el éxito y el cumplimiento de metas
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Maximizar competencias de liderazgo en diversos contextos personales y sociales
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Mercadear efectivamente sus servicios de coaching de equipos
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con equipos para mejorar rendimiento y alcanzar las metas en contextos empresariales y sociales.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Ejercer la profesión de Coaching de equipos en diversos nichos de mercado.
                </p>
            </li>
        </ul>
        <p>
            <br />
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que se identifiquen con la visión del coaching como un vehículo para la transformación de
            individuos y organizaciones. Se recomienda este Programa para profesionales que desean una carrera como coach de equipos en procesos con colectivos de
            personas nivel de familia, líderes de organizaciones empresariales y sociales, directores de recursos humanos, gerentes, empresarios y emprendedores.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 6 meses.
        </p>
        <p align="justify">
            <br />
            La presente certificación se encuentra alineada al código de ética y las competencias centrales de la Federación Internacional de Caoching (ICF). Y brinda
            los requisitos necesarios para optar para la acreditación ACC (Associate Certified Coach) en la ICF luego de culminado en proceso con CFW.
        </p>
        <p align="justify">
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
    </div>
    <!--vida y bienestar----------------------------------------------->
    <div class="row" id="vida" style="display:none;">
        <div class="col-lg-12 banner-bienestar">
            <h1>@ViewData["t11Cer"]<br /> @ViewData["t11Cer11"]</h1>
        </div>
        <div class="margen-empresarial">
        <p align="justify">
           @ViewData["tb1"]
        </p>
        <p align="justify">
            <br />
            <strong>@ViewData["tb2"]</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            @ViewData["tb3"]
        </p>
        <p align="justify">
            @ViewData["tb4"]
        </p>
        <p>
            <br />
            <strong>@ViewData["tb5"]</strong>
        </p>
        <p align="justify">
            @ViewData["tb6"]
        </p>
        <p align="justify">
           @ViewData["tb7"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb8"]</strong>
        </p>
        <p align="justify">
            @ViewData["tb9"]
        </p>
        <p align="justify">
            @ViewData["tb10"]
        </p>
        <p align="justify">
            @ViewData["tb11"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb12"]</strong>
        </p>
        <p>
            @ViewData["tb13"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb14"]</strong>
        </p>
        <p>
            @ViewData["tb15"]
        </p>
        <p align="justify">
            <strong> @ViewData["tb16"]</strong>
</p>
        <p>
            @ViewData["tb17"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb18"]S</strong>
        </p>
        <p>
            @ViewData["tb19"]
        </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb20"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb21"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb22"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb23"]
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>@ViewData["tb24"]</strong>
        </p>
        <p align="justify">
           @ViewData["tb25"]
        </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb26"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb27"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb28"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb29"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["tb30"]
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>@ViewData["tb31"]</strong>
        </p>
        <p align="justify">
            @ViewData["tb32"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb33"]</strong>
        </p>
        <p align="justify">
            @ViewData["tb34"]
        </p>
        <p align="justify">
            <strong>@ViewData["tb35"]</strong>
        </p>
        <p align="justify">
            @ViewData["tb36"]
        </p>
        <p align="justify">
            <br />
            <strong>@ViewData["tb37"]</strong>
        </p>
        <p>
            <br />
            @ViewData["tb38"]

        </p>
        <p align="justify">
          @ViewData["tb39"]
        </p>
            <p align="justify">
                @ViewData["tb40"]
            </p>
        <br /><br />
      </div>
    </div>
    <!--espiritual-------------------------------------->
    <div class="row" id="cespiritual" style="display:none;">
        <div class="col-lg-12 banner-espirirtual">
            <h1>@ViewData["t12Cer"]<br />@ViewData["t12kCer"]</h1>
        </div>
       <div class="margen-empresarial">
        <p align="justify">
                @ViewData["te1"]
        </p>
        <p align="justify">
            @ViewData["te2"]
        </p>
        <p align="justify">
            <br />
            <strong>@ViewData["te3"]</strong>
            <strong>:</strong>
        </p>
        <p align="justify">
            <br />
            @ViewData["te4"]
        </p>
        <p align="justify">
            @ViewData["te5"]
        </p>
        <p>
            <br />
            <strong>@ViewData["te6"]</strong>
        </p>
        <p align="justify">
            @ViewData["te7"]
        </p>
        <p align="justify">
            @ViewData["te8"]
        </p>
        <p align="justify">
            <strong>@ViewData["te9"]</strong>
        </p>
        <p align="justify">
            @ViewData["te10"]
        </p>
        <p align="justify">
            @ViewData["te11"]
        </p>
        <p align="justify">
            @ViewData["te12"]
        </p>
        <p align="justify">
            <strong>@ViewData["te13"]</strong>
        </p>
        <p>
            @ViewData["te14"]
        </p>
        <p align="justify">
            <strong>@ViewData["te15"]</strong>
        </p>
        <p>
            @ViewData["te16"]
        </p>
        <p align="justify">
            <strong>@ViewData["te17"]</strong>
        </p>
        <p>
            @ViewData["te18"]
        </p>
        <p align="justify">
            <strong>@ViewData["te19"]</strong>
        </p>
        <p>
            @ViewData["te20"]
        </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te21"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te22"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te23"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te24"]
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>@ViewData["te25"]</strong>
        </p>
        <p align="justify">
            @ViewData["te26"]
        </p>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te27"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                   @ViewData["te28"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te29"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te30"]
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    @ViewData["te31"]
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>@ViewData["te32"]</strong>
        </p>
        <p align="justify">
            @ViewData["te33"] 
        </p>
        <p align="justify">
            <strong>@ViewData["te34"]</strong>
        </p>
        <p align="justify">
            @ViewData["te35"]
        </p>
        <p align="justify">
            <strong>@ViewData["te36"]</strong>
        </p>
        <p align="justify">
            @ViewData["te37"]
        </p>
        <p align="justify">
            <br />
            <strong>@ViewData["te38"]</strong>
        </p>
        <p align="justify">
            @ViewData["te39"]
        </p>
        <p>
            <br />
            @ViewData["te40"]

        </p>
        <p align="justify">
            @ViewData["te41"]
        </p>
        <br /><br />
      </div>
    </div>
    <!--oasis------------------------------>
    <div class="row" id="oasis" style="display:none;">
        <div class="col-lg-12 banner-oasis">
            <h1>@ViewData["to1"] <br />@ViewData["to2"]</h1>
        </div>
        <div class="margen-empresarial">
            <h4 align="center">@ViewData["to3"]</h4>
            <h4 align="center">@ViewData["to4"] </h4>
            <h4 align="center">@ViewData["to5"] </h4>
            <br />
            <p align="center">@ViewData["to6"] 
                @ViewData["to7"]
            </p>
            <p>@ViewData["to8"].</p>
            <p>@ViewData["to9"]</p>
            <ul>
                <li>@ViewData["to10"]</li>
                <li>@ViewData["to11"]</li>
                <li>@ViewData["to12"]</li>
                <li>@ViewData["to13"]</li>
                <li>@ViewData["to14"]</li>
            </ul>
            <p>@ViewData["to15"] </p>
            <p>@ViewData["to16"]</p>
            <p>@ViewData["to17"]</p>
            <p>@ViewData["to18"]</p>
            <p>@ViewData["to19"]</p>
            <h4>@ViewData["to20"]</h4>
            <p>@ViewData["to21"]</p>
            <ul>
                <li>@ViewData["to22"]</li>
                <li>@ViewData["to23"]</li>
            </ul>
            <p>@ViewData["to24"] </p>
            <a href="@ViewData["to25"]">@ViewData["to25"]</a>
        </div>
    </div>

    <div class="row" id="genos" style="display:none;">
        <br /><br /><br />
        @GUI.BigTop("CERTIFICACIÓN INTERNACIONAL EN INTELIGENCIA EMOCIONAL GENOS", "", "bgreen nohover", "col-xs-12", "piedras 2.png")
        <br /><br /><br />
        <p align="justify">
            Esta certificación se concentra en las emociones, y los comportamientos que influyen en diversos contextos, especialmente en el lugar de trabajo. Genos es
            un inventario emocional de 360° de comportamientos emocionalmente inteligentes.
        </p>
        <p align="justify">
            Hace un recorrido por los temas de la inteligencia emocional en 7 destrezas:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Consciencia emocional de sí mismo
                </p>
            </li>
            <li>
                <p align="justify">
                    Expresión emocional
                </p>
            </li>
            <li>
                <p align="justify">
                    Consciencia de las emociones de los demas
                </p>
            </li>
            <li>
                <p align="justify">
                    Razonamiento emocional
                </p>
            </li>
            <li>
                <p align="justify">
                    Manejo de las emociones propias
                </p>
            </li>
            <li>
                <p align="justify">
                    Manejo de las emociones de los demás
                </p>
            </li>
            <li>
                <p align="justify">
                    Dominio emocional de sí mismo
                </p>
            </li>
        </ul>
        <p align="justify">
            Todo lo anterior permite al participante contar con herramientas de vanguardia con las que podrá maximizar su inteligencia emocional, generando un impacto
            positivo en su vida y sus relaciones.
        </p>
        <p align="justify">
            Somos representantes de Genos Pty. Ltd., en Latinoamérica, la cual es una compañía australiana, proveedora líder de instrumentos y servicios para avaluar y
            enriquecer la inteligencia emocional en el lugar de trabajo.
        </p>
        <p align="justify">
            <strong>METODOLOGÍA</strong>
        </p>
        <p align="justify">
            Este programa tambien se desarrolla <em>100% On Line</em>, con 6 teleclases de 4 horas cada una, para un total de 24 horas directas y 20 sesiones de
            práctica en diversos roles.
        </p>
        <p align="justify">
            La certificación incluye competencias para trabajar el avalúo Genos y ser distribuidor del mismo.
        </p>
        <p align="justify">
            El total de horas de trabajo es de 48.
        </p>
        <p align="justify">
            <strong>OBJETIVOS DE APRENDIZAJE</strong>
        </p>
        <p align="justify">
            Al final del Programa, los participantes habrán desarrollado los conocimientos, las destrezas y habilidades requeridas para:
        </p>
        <ul>
            <li>
                <p align="justify">
                    Identificar los comportamientos emocionalmente inteligentes en sí mismo y en otras personas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Aplicar destrezas de inteligencia emocional que movilicen a otras personas a mayor bienestar y el cumplimiento de metas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p>
                    Aplicar la inteligencia emocional como una herramienta de gran poder dentro del ejercicio del coaching puro en cualquiera de sus vertientes.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Abordar el SER desde su propia grandeza y potencial, bajo la premisa que toda persona es GRANDE.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p align="justify">
                    Trabajar efectivamente con personas bajo diversas agendas emocionales.
                </p>
            </li>
        </ul>
        <p align="justify">
            <strong>FECHAS DE LOS PRÓXIMOS PROGRAMAS:</strong>
        </p>
        <p align="justify">
            Contacta nuestra Agenda Internacional ó escríbenos a <a href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a> para recibir el
            detalle de fechas de tu ciudad en Latinoamérica.
        </p>
        <p align="justify">
            <strong>IDIOMA EN EL QUE SE OFRECE EL PROGRAMA:</strong>
        </p>
        <p align="justify">
            El Programa se ofrece en español en varios países de Latinoamérica y Estados Unidos
        </p>
        <p align="justify">
            <strong>¿A QUIÉN ESTÁ DIRIGIDO ESTE PROGRAMA?</strong>
        </p>
        <p align="justify">
            El Programa está dirigido a personas (de 21 años en adelante) que deseen explorar y profundizar con la inteligencia emocional. Se recomienda este Programa
            para profesionales que desean aplicar la inteligencia emocional en sí mismos y otros, especialmente en contextos laborales. Y aquellas personas que desean
            un cambio profundo en sus propias vidas y sus relaciones a partir de adoptar comportamientos emocionalmente inteligentes.
        </p>
        <p align="justify">
            <br />
            <strong>DURACIÓN DEL PROGRAMA</strong>
        </p>
        <p align="justify">
            La duración del proceso está estimada en 3 meses.
        </p>
        <p>
            <br />
            Descarga el brochure del programa para conocer más detalles.
        </p>
        <br /><br />
    </div>
</div>