
@{
    ViewBag.Title = "Servicios";
}

<div class="row">
    <div class="col-lg-12" id="texo-servicio-img">
        <!--<img src="~/Content/Images/img-servicios.jpg" class="img-responsive" style="width:100%;height:600px" />-->
        <h1 class="visible-lg visible-md texto-helper">@ViewData["t1Ser"]</h1>
        <h1 class="visible-sm visible-xs texto-helperm">@ViewData["t1Ser"]</h1>
    </div>
</div>

<div class="container" style="margin-top:20px">
    <div class="row">
        <br />
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/Imagen coahcing individual.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t2Ser"]<br />@ViewData["t2Serc"]</h1>
        </div>
        <br />
        <div class="col-lg-12">
            <p>@ViewData["t3Ser"]</p>
            <ul>
                <li>
                    @ViewData["t4Ser"]
                </li>
                <li>
                    @ViewData["t5Ser"]
                </li>
                <li>
                    @ViewData["t6Ser"]
                </li>
                <li>
                    @ViewData["t7Ser"]
                </li>
                <li>
                    @ViewData["t8Ser"]
                </li>
            </ul>
            <p>@ViewData["t9Ser"]</p>
        </div>
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen charlas en linea.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t10Ser"]<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewData["t10Serl"]</h1>
        </div>
        <div class="col-lg-12">
            <br />
            <p>@ViewData["t11Ser"]</p>
            <ul>
                <li>@ViewData["t12Ser"]</li>
                <li>@ViewData["t13Ser"]</li>
                <li>@ViewData["t14Ser"]</li>
                <li>@ViewData["t15Ser"] </li>
            </ul>
            <p>@ViewData["t16Ser"]</p>
        </div>
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen mentorias.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>@ViewData["t17Ser"]<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewData["t17Serco"]</h1>
        </div>
        <div class="col-lg-12">
            <br />
            <p>
                @ViewData["t18Ser"]
            </p>
            <p>@ViewData["t18Seru"]</p>
        </div>
    </div>
</div>
