@model C4W.Web.Models.Contacto
@{
    ViewBag.Title = "CERTIFICACIÓN INTERNACIONAL ACTP";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="sslide">
    <div class="greenbg">
        <div class="container">
            <h2>CERTIFICACIÓN INTERNACIONAL</h2>
            <h1>COACHING EMPRESARIAL <br /> Y DE VIDA</h1>
            <h3>NIVEL PROFESIONAL</h3>
            <center class="visible-xs visible-sm">
                <img class="img-responsive actp-landing" src="~/Content/Landing/ACTP.png" />
            </center>
            <img class="img-responsive actp-landing-big hidden-xs hidden-sm" src="~/Content/Landing/ACTP.png" />
            <br />
            <div class="row to-bottom">
                <div class="col-sm-4 col-sm-push-8 widget-container">
                    <div class="empty-widget bblue nohover" id="form-container">
                        @using (Html.BeginForm("Send", "Landing", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form" }))
                        {
                            <div class="col-xs-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                SOLICITA INFORMACIÓN
                                <div class="form-group">
                                    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Pais" name="Pais" placeholder="País" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Ciudad" name="Ciudad" placeholder="Ciudad" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Email" name="Email" placeholder="E-Mail" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Telefono" name="Telefono" placeholder="Teléfono móvil" class="form-control" />
                                </div>
                                <input type="hidden" id="Landing" name="Landing" value="@ViewBag.Landing" />

                                <div class="form-group row">
                                    <input type="button" id="submit" value="CONSULTAR" class="btn byellow btn-block darkcolor" />
                                    <div class="col-md-6 bpink" id="problema" hidden></div>
                                </div>
                            </div>

                        }
                    </div>

                    <center class="sm-txt">
                        <a class="link-white" href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a>
                    </center>
                </div>

                <div class="col-xs-6 visible-xs">
                    &nbsp;
                </div>
                <div class="col-sm-offset-4 col-sm-4 col-sm-pull-4 col-xs-12 ">
                    <div class="hlwidget bblue nohover margin-top">
                        INICIA <br />
                        @ViewBag.Fecha
                    </div>
                    <div class="hlwidget bblue nohover margin-bot">
                        @ViewBag.Ciudad <br />
                        <small>@ViewBag.Pais</small>
                    </div>
                </div>

                <div class="col-sm-4 hidden-xs character-bottom">
                    <img src="~/Content/Landing/PERSONAJE 1.png" class="img-responsive" />
                </div>
                <div class="col-xs-12 visible-xs">
                    <center>
                        <img src="~/Content/Landing/PERSONAJE 1.png" class="img-responsive" />
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty-slide container">
    <div class="row">
        <div class="col-sm-4">
            <center>
                <img class="img-responsive" src="~/Content/Landing/IMAGEN MUNDO.png" />
            </center>
        </div>
        <div class="col-sm-8 text-center">
            “El Coaching es un proceso que potencia a los individuos para ejercer decisiones conscientes alineadas a su máxima visión, manifestada en acción. Este vehículo hace real la expresión más auténtica de los sueños”.<br /><br />
            Susan Seidman, CEC, MCC
        </div>
    </div>
</div>
<div class="sslide">
    <div class="bluebg">
        <div class="container">
            <p>
                Esta certificación hace un recorrido por los temas de mayor importancia en la profesión del Coaching, enfocada en elementos equilibrados entre la vida y la empresa, lo que permite ampliar las posibilidades de ejercer con éxito en diversos nichos de mercado. Se encuentra acreditada como ACTP, lo que permite solicitar la credencial como coach de la ICF.
            </p>
            <h2>METODOLOGÍA</h2>
            <p>
                Se presenta en metodología Blended (Mixto presencial - On Line), la cual incluye cuatro (4) encuentros presenciales de 30 horas cada uno (en fines de semana completos de tres días) con intervalos de 2.5 meses. El total de horas de trabajo son 136 aprobadas por ICF.
            </p>
            <p>
                Los temas de exploración en el proceso son los siguientes:
            </p>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <img class="img-responsive img-left" src="~/Content/Landing/Avion Papel.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="hleft">INMERSIÓN 1:<br class="visible-xs" /> COACHING DE VIDA</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br class="visible-xs" />
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    &nbsp;
                </div>
                <div class="col-sm-10">
                    <div class="media">
                        <div class="media-left">
                            <img class="img-responsive img-left" src="~/Content/Landing/Barco Papel.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="hleft">INMERSIÓN 2:<br class="visible-xs" /> COACHING CORPORATIVO</h3><br />
                        </div>
                    </div>
                </div>
            </div>
            <br class="visible-xs" />
            <div class="row">
                <div class="col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <img class="img-responsive img-left" src="~/Content/Landing/Avion Papel.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="hleft">INMERSIÓN 3:<br class="visible-xs" /> COACHING DE RELACIONES Y EQUIPOS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br class="visible-xs" />
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    &nbsp;
                </div>
                <div class="col-sm-10">
                    <div class="media">
                        <div class="media-left">
                            <img class="img-responsive img-left" src="~/Content/Landing/Barco Papel.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="hleft">INMERSIÓN 4:<br class="visible-xs" /> MARKETING PARA COACHING</h3><br />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <p>
                Toda la certificación tiene soporte en una plataforma virtual de aprendizaje On Line.
            </p>
            <p>
                Se reciben 10 mentorías entre grupales y personalizadas, y un total de 72 horas de práctica en rol de coach, de coachee y en grupo.
            </p>
            <p>
                Durante el programa se tienen diversos compromisos formativos, así como lecturas, proyectos, retrospectiva escrita y oral alineadas  a los criterios de la ICF.
            </p>
            <br /><br />
        </div>
    </div>
</div>
<div class="empty-slide">
    <div class="container">
        <h2 class="hidden-sm hidden-xs">PARA QUIÉN ES ESTE PROGRAMA?</h2>
        <div class="row">
            <div class="col-md-2 col-md-push-10">
                <center>
                    <img class="img-responsive" src="~/Content/Landing/BOMBILLA.png" />
                </center>
            </div>
            <div class="col-md-10 col-md-pull-2">
                <h2 class="visible-sm visible-xs">PARA QUIÉN ES ESTE PROGRAMA?</h2>
                <p>
                    Programa está dirigido a personas (mayores de 21 años) que se identifiquen con la visión del coaching como un vehículo para la transformación de individuos y organizaciones. Se recomienda este Programa para profesionales que desean una carrera como coach empresarial, líderes, directores de recursos humanos, gerentes de
                    ventas, dueños de pequeños negocios y cualquier persona que desee el coaching como una profesión en su vida.
                </p>
            </div>
        </div>
        <h2 class="hidden-sm hidden-xs">TIEMPOS</h2>
        <div class="row">
            <div class="col-md-2">
                <center>
                    <img class="img-responsive" src="~/Content/Landing/COHETE.png" />
                </center>
            </div>
            <div class="col-md-10">
                <h2 class="visible-sm visible-xs">TIEMPOS</h2>
                <p>
                    El tiempo estimado es de 10 meses. En la modalidad BLENDED  se tiene un  lapso de 10 semanas entre inmersiones presenciales.
                </p>
                <p>
                    Luego de dicho lapso el participante ingresa a la etapa de preparación a la sesión oral final, cuyo tiempo depende enteramente de la celeridad del estudiante en presentarla.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="sslide">
    <div class="orangebg">
        <h2>"EL COACHING ES <br />UNA DECISIÓN DE VIDA"</h2>
        <br />
    </div>
</div>
<div class="sslide">
    <div class="pinkbg">
        <div class="container">
            <h2>NOSOTROS</h2>
            <p>
                Somos una organización de alcance continental, con sedes en New Jersey (USA) y Medellín (Colombia), fundada en 2004 por las Máster Coaches (MCC ICF)  Susan Seidman y Annie Torres.
            </p>
            <p>
                Estamos conformados por un equipo de personas apasionadas por lo que hacen, y que se esfuerzan por hacer del mejoramiento continuo algo real, lo que nos permite ser altamente diferenciados en el mercado.
            </p>
            <p>
                Actuamos bajo la convicción de hacer las cosas con los más altos estándares, brindando a nuestros clientes experiencias que movilizan el ser para maximizar los resultados.
            </p>
            <br /><br />
        </div>
    </div>
</div>

<div class="empty-slide">
    <div class="container">
        <img class="img-responsive img-right" src="~/Content/landing/CLIP.png" />
        <h2 class="hl">GRUPOS PEQUEÑOS - CUPOS LIMITADOS</h2>
    </div>
</div>

<div class="sslide">
    <div class="yellowbg">
        <div class="container">

            <h1>CONTÁCTANOS PARA CONOCER PRECIOS <br /> Y FECHAS EN TU CIUDAD</h1>
            <center>
                <img class="img-responsive actp-landing" src="~/Content/Landing/ACTP.png" />
            </center>

            <br />
            <div class="row to-bottom">
                <div class="col-sm-4 col-sm-push-8 widget-container">
                    <div class="empty-widget bblue nohover" id="form-container">
                        @using (Html.BeginForm("Send", "Landing", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form2" }))
                        {
                            <div class="col-xs-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                SOLICITA INFORMACIÓN
                                <div class="form-group">
                                    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Pais" name="Pais" placeholder="País" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Ciudad" name="Ciudad" placeholder="Ciudad" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Email" name="Email" placeholder="E-Mail" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Telefono" name="Telefono" placeholder="Teléfono móvil" class="form-control" />
                                </div>
                                <input type="hidden" id="Landing" name="Landing" value="@ViewBag.Landing" />

                                <div class="form-group row">
                                    <input type="button" id="submit2" value="CONSULTAR" class="btn byellow btn-block darkcolor" />
                                    <div class="col-md-6 bpink" id="problema2" hidden></div>
                                </div>
                            </div>

                        }
                    </div>

                    <center class="sm-txt">
                        <a class="link-white" href="mailto:contacto@coachingforwellness.com">contacto@coachingforwellness.com</a>
                    </center>
                </div>

                <div class="col-xs-6 visible-xs">
                    &nbsp;
                </div>
                <div class="col-sm-offset-4 col-sm-4 col-sm-pull-4 col-xs-12 ">
                    <div class="hlwidget bblue nohover margin-top">
                        INICIA <br />
                        @ViewBag.Fecha
                    </div>
                    <div class="hlwidget bblue nohover margin-bot">
                        @ViewBag.Ciudad <br />
                        <small>@ViewBag.Pais</small>
                    </div>
                </div>

                <div class="col-sm-4 hidden-xs character-bottom">
                    <img src="~/Content/Landing/PERSONAJE 2.png" class="img-responsive" />
                </div>
                <div class="col-xs-12 visible-xs">
                    <img src="~/Content/Landing/PERSONAJE 2.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        var id = "";
        var button = "";
        var problema = "";
        function successFunc(data) {
            if (data['type'] == 0) {
                $(id).html('<h2>' + data['data'] + '</h2>');
                $(id).removeClass('byellow');
                $(id).addClass('bgreen');

            }
            else {
                $(button).removeAttr('disabled');
                $(problema).html('<h5>' + data['data'] + '</h5>');
                $(problema).show();
            }
        }

        function errorFunc(data) {
            $(button).removeAttr('disabled');
            $(problema).html('<h5>' + data['data'] + '</h5>');
            $(problema).show();
        }


        $($('#submit').click(function () {
            var validator = $("#form").validate();
            var anyError = false;
            id = "#form-container";
            button = "#submit";
            problema = "#problema";
            $("#form").find("input").each(function () {
                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });
            if (anyError)
                return false;

            $.ajax({
                type: "POST",
                url: "/Landing/Send",
                data: $('#form').serialize(),
                success: successFunc,
                error: errorFunc
            });
            $('#submit').prop('disabled', true);
        })


     );

        $($('#submit2').click(function () {
            var validator = $("#form2").validate();
            var anyError = false;
            id = "#form-container2";
            button = "#submit2";
            problema = "#problema2";
            $("#form2").find("input").each(function () {
                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });
            if (anyError)
                return false;

            $.ajax({
                type: "POST",
                url: "/Landing/Send",
                data: $('#form2').serialize(),
                success: successFunc,
                error: errorFunc
            });
            $('#submit2').prop('disabled', true);
        })


    );

    </script>
}