<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon"/>
	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/carrusel.css">
	<link rel="stylesheet" href="~/Content/sss.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<!-- child of the body tag -->
	<span id="top-link-block" class="hidden">
		<a href="#top" class="btn btn-primary" onclick="$('html,body').animate({ scrollTop: 0 }, 'slow');return false;">
		<i class="glyphicon glyphicon-chevron-up"></i>
		</a>
	</span><!-- /top-link-block -->
<nav class="navbar navbar-fixed-top navbar-color">
	 
	<div class="container">
		<button style="background: grey;margin-top: 30px; margin-right: 20px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only color-bar">Toggle navigation</span>
			<span class="icon-bar color-bar"></span>
			<span class="icon-bar color-bar"></span>
			<span class="icon-bar color-bar"></span>
		</button>
		<div class="navbar-header" style="padding:10px 10px;">
			<a href="~/Home"><img src="~/Content/Images/logo-c4w.png" style="width: 200px; padding-left: 20px;" class="img-responsive img-navbar" /></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav" style="margin-top:25px;">
				<li><a class="link-nav-color" href="~/Home/About">@ViewData["aboutUs_link"]</a></li>
				<li><a class="link-nav-color" href="~/Home/Personas">@ViewData["certi_link"]</a></li>
				<li><a class="link-nav-color" href="~/Home/Servicios">@ViewData["servi_link"]</a></li>
				<li><a class="link-nav-color" href="~/Home/Contact">@ViewData["contact_link"]</a></li>
				<li><a class="langb" href="~/Home/En">English</a></li>
				<li><a class="langb" href="~/Home/Es">Español</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	@Html.Partial("_LoginPartial")
	@RenderBody()
	<br/>
	<br/>
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg video-modal-dialog">        
			<div class="modal-content video-modal-content">
				<div class="modal-header">
					PARA QUÉ CFW?
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="video-container">
					<iframe frameborder="0" width="560" height="315" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<footer class="footer-distributed">
			<div class="footer-left">
				<img src="~/Content/Images/imagenesNuevas/LOGOCFW.png" class="img-responsive" style="width: 60%; height: 60%;" />
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-phone"></i>
					<p>USA (+1) 917 952 3913 | LATAM (+57) 310 310 6857</p>
				</div>
				<div>
					<i class="fa fa-facebook"></i>
					<p>/coachingforwellness</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@c4w.co">info@c4w.co</a></p>
				</div>
				<div>
					<p class="text-center">@ViewData["derechos_index"]</p>
				</div>


			</div>

			<div class="footer-right">
				<p class="footer-company-about text-center">
					<a style="color: black; background: #93c01f; border-color: white; border-width: 2px; " href="~/Home/Contact" class="btn btn-danger btn-lg">@ViewData["contactanos_index"]</a>
				</p>
			</div>

		</footer>
	</div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
<script src="~/Scripts/sss.js"></script>
<script>
	$('#videopoup').click(function () {
		var src = 'https://www.youtube.com/embed/KYcQr6U93vQ';
		$('#myModal').modal('show');
		$('#myModal iframe').attr('src', src);
	});

	$('#myModal button').click(function () {
		$('#myModal iframe').removeAttr('src');
	});
</script>

	
<!--Carrusel de testimonios-->
<script>
	jQuery(function($){
		$('.slider-testimonial').sss({
			slideShow : true,
			speed : 8000
		});
	});
</script>

<script>
	// Only enable if the document has a long scroll bar
	// Note the window height + offset
	if (($(window).height() + 100) < $(document).height()) {
		$('#top-link-block').removeClass('hidden').affix({
			// how far to scroll down before link "slides" into view
			offset: { top: 100 }
		});
	}
</script>

<script>
	// Toggle menu
	$(document).ready(function($) {
		$('.toggle-menu').jPushMenu();
	});

	$('#lev-0 .wbutton').on('click',
		function(e) {
			$('#lev-0 .wbutton').removeClass('op0');
			$(this).addClass('op0');

			$('#lev-11 > div').fadeOut('fast');
			$('#lev-2 > div').fadeOut('fast');

			$('#lev-1 > div').each(function() {
				$(this).fadeOut(0);
			});

			var element = $(this).data('element');
			$(element).fadeIn('fast');

			var target = $(this).data('target');
			doScroll(target);
		});

	$('#lev-1 .wbutton-xl, #lev-11 .wbutton-xl').on('click',
		function(e) {
			e.preventDefault();

			$('#lev-2 > div').fadeOut(0);
			var element = $(this).data('element');
			$(element).fadeIn('fast');

			var target = $(this).data('target');
			if (target == '#lev-11') {
				$('#lev-1 > div').each(function() {
					$(this).fadeOut(0);
				});
			}
			doScroll(target);
		});

	function doScroll(target) {
		var $target = $(target);
		$('html, body').stop().animate({
				'scrollTop': $target.offset().top
			},
			900,
			'swing',
			function() {
				window.location.hash = target;
			});
	}

	// Smooth scrolling
	$(document).ready(function() {
		$('.smooth').on('click',
			function(e) {
				e.preventDefault();

				var target = $(this).data('target');
				doScroll(target);
			});


		$('a[data-ajax-menu]').on('click',
			function() {
				var objective = $(this).data('ajax-menu');
				if ($(objective).is(':visible')) {
					$(objective).fadeOut('fast');
				} else {
					$(objective).fadeIn('fast');
				}
			});
	});
</script>

<script>
	function redirect(a) {
		if (a == 1) {
			window.location.href = "Home/Pagos";
		}else if (a == 2) {
			window.location.href = "http://www.c4w.co/login/index.php";
		}else if (a == 3) {
			window.location.href = "Home/Mandalas";
		}
	}
	
</script>
</body>
</html>